<!DOCTYPE html>
<html class="{{ get_template_mode() }} sp:h-full sp:print:h-auto" dir="{{ get_template_dir() }}" lang="{{ App.getLocale() }}">

<head>
    {{ View.fireHook('operator.head_start') }}

    {% set title = block('title') is defined ? block('title') : '' %}
    <title>{% if title is not empty %}{{ title|raw }} - {% endif %}{{ Lang.get('core.product_name') }} {{ Lang.get('core.operator_panel') }}</title>

    {% block meta %}{% endblock %}

    {% include 'operator.' ~ template ~ '.head_common' %}

    {% block scripts_header %}{% endblock %}

    {{ View.fireHook('operator.head') }}
    {{ View.fireHook('operator.head_end') }}
</head>

<body class="sp:h-full sp:bg-primary sp:text-primary sp:print:h-auto">

{{ View.fireHook('operator.body_start') }}

<header id="header" class="sp:relative sp:w-full sp:bg-primary-800 sp:leading-none sp:z-10002 sp:lg:fixed sp:print:hidden">
    {{ View.fireHook('operator.header_start') }}

    {% block header %}
        <div class="sp:flex sp:items-center">
            <div class="sp:flex-none">
                <a href="{{ route('core.operator.dashboard') }}" class="sp:block sp:px-3 sp:py-2 sp:lg:px-4 sp:hover:bg-primary-900">
                    <img src="{{ get_icon('resources/assets/operator/images/logo_icon.png') }}"
                         alt="{{ Config.get('settings.brand_name') }}" class="sp:h-8" />
                </a>
            </div>

            <nav class="sp:absolute sp:hidden sp:start-0 sp:w-full sp:min-w-0 sp:bg-primary-800 sp:border-b sp:border-primary-900 sp:top-full
                        sp:whitespace-nowrap sp:lg:grow sp:lg:static sp:lg:inline-block sp:lg:w-auto sp:lg:bg-auto sp:lg:border-0">
                <ul class="sp:relative">
                    {% if isModuleEnabled('Ticket') and auth_user().hasPermission('view.ticket|create.ticket') %}
                        <li class="sp:block sp:lg:inline-block" aria-haspopup="true" id="ticketHeaderDropdown">
                            <a class="sp-nav-item">
                                {{ Lang.choice('ticket.ticket', 2) }}
                                <i class="fa-solid sp-chevron sp:py-0.5 sp:float-end sp:text-xs sp:lg:p-0 sp:lg:ms-1 sp:lg:float-none"
                                   aria-hidden="true"></i>
                            </a>
                            <ul class="sp-nav-dropdown">
                                {% if auth_user().hasPermission('view.ticket') %}
                                    <li aria-haspopup="false" id="manageTickets">
                                        <a href="{{ urldecode(route('ticket.operator.ticket', manageTicketsParams)) }}">
                                            {{ Lang.get('ticket.manage_tickets') }}
                                        </a>
                                    </li>
                                    {% if not recentTickets.isEmpty() %}
                                        <li class="sp-multi-list" aria-haspopup="false">
                                            <div class="sp-title">{{ Lang.get('ticket.recent_tickets') }}</div>
                                            {% for recentTicket in recentTickets %}
                                                <a href="{{ route('ticket.operator.ticket.show', recentTicket.id) }}" class="sp:group">
                                                    {% if recentTicket.trashed() %}
                                                        <i class="fa-solid fa-trash sp:text-secondary" title="{{ Lang.get('general.trash') }}"></i>
                                                    {% endif %}
                                                    {{ recentTicket.status.icon|raw }}
                                                    <span class="sp-description sp:group-hover:text-white">#{{ recentTicket.number }}</span> {{ recentTicket.subject }}
                                                </a>
                                            {% endfor %}
                                        </li>
                                    {% endif %}
                                    {% if not recentFilters.isEmpty() %}
                                        <li class="sp-multi-list" aria-haspopup="false">
                                            <div class="sp-title">{{ Lang.get('ticket.recent_filters') }}</div>
                                            {% for recentFilter in recentFilters %}
                                                <a href="{{ route('ticket.operator.ticket', {'filter': recentFilter.id}) }}">
                                                    {{ recentFilter.name }}
                                                </a>
                                            {% endfor %}
                                        </li>
                                    {% endif %}
                                {% endif %}
                                {% if auth_user().hasPermission('create.ticket') %}
                                    <li aria-haspopup="false">
                                        <a href="{{ route('ticket.operator.ticket.createStep1') }}" id="open-new-ticket">
                                            {{ Lang.get('ticket.open_new') }}
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                    {% if auth_user().hasPermission('view.user|view.organisation|view.operator|view.massemail') %}
                        <li class="sp:block sp:lg:inline-block" aria-haspopup="true" id="userHeaderDropdown">
                            <a class="sp-nav-item">
                                {{ Lang.choice('user.user', 2) }}
                                <i class="fa-solid sp-chevron sp:py-0.5 sp:float-end sp:text-xs sp:lg:p-0 sp:lg:ms-1 sp:lg:float-none"
                                   aria-hidden="true"></i>
                            </a>
                            <ul class="sp-nav-dropdown">
                                {% if auth_user().hasPermission('view.user|create.user') %}
                                    <li aria-haspopup="false" id="manageUserSetting">
                                        <a href="{{ route('user.operator.user') }}">
                                            {{ Lang.get('user.manage_users') }}
                                        </a>
                                    </li>
                                    {% if not recentUsers.isEmpty() %}
                                        <li class="sp-multi-list" aria-haspopup="false">
                                            <div class="sp-title">{{ Lang.get('user.recent_users') }}</div>
                                            {% for recentUser in recentUsers %}
                                                <a href="{{ route('user.operator.user.edit', recentUser.id) }}">
                                                    {{ recentUser.formatted_name }}
                                                </a>
                                            {% endfor %}
                                        </li>
                                    {% endif %}
                                {% endif %}
                                {% if Config.get('settings.organisations_enabled') and auth_user().hasPermission('view.organisation') %}
                                    <li aria-haspopup="false" id="manageOrgSetting">
                                        <a href="{{ route('user.operator.organisation') }}">
                                            {{ Lang.get('user.manage_organisations') }}
                                        </a>
                                    </li>
                                    {% if not recentOrganisations.isEmpty() %}
                                        <li class="sp-multi-list" aria-haspopup="false">
                                            <div class="sp-title">{{ Lang.get('user.recent_organisations') }}</div>
                                            {% for recentOrganisation in recentOrganisations %}
                                                <a href="{{ route('user.operator.organisation.edit', recentOrganisation.id) }}">
                                                    {{ recentOrganisation.name }}
                                                </a>
                                            {% endfor %}
                                        </li>
                                    {% endif %}
                                {% endif %}
                                {% if auth_user().hasPermission('view.operator') %}
                                    <li aria-haspopup="false" id="manageOperatorSetting">
                                        <a href="{{ route('user.operator.operator') }}">
                                            {{ Lang.get('user.manage_operators') }}
                                        </a>
                                    </li>
                                {% endif %}
                                {% if auth_user().hasPermission('view.massemail') %}
                                    <li aria-haspopup="false">
                                        <a href="{{ route('user.operator.massemail') }}">
                                            {{ Lang.get('user.mass_email') }}
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                    {% if isModuleEnabled('Selfservice')
                        and auth_user().hasPermission('view.comment|view.selfservicetag|view.selfservicetypes|view.article|view.category')
                    %}
                        <li class="sp:block sp:lg:inline-block" aria-haspopup="true">
                            <a class="sp-nav-item">
                                {{ Lang.get('selfservice.selfservice') }}
                                <i class="fa-solid sp-chevron sp:py-0.5 sp:float-end sp:text-xs sp:lg:p-0 sp:lg:ms-1 sp:lg:float-none"
                                   aria-hidden="true"></i>
                            </a>
                            <ul class="sp-nav-dropdown">
                                {% if auth_user().hasPermission('view.selfservicetype') %}
                                    {% if assignedBrands.count() > 1 %}
                                        <li class="sp:relative" aria-haspopup="true">
                                            <a class="sp-nav-sub-menu">
                                                {{ Lang.choice('selfservice.type', 2) }}
                                                <i class="fa-solid sp-chevron sp:py-0.5 sp:float-end sp:text-xs" aria-hidden="true"></i>
                                            </a>
                                            <ul class="sp-nav-dropdown">
                                                {% for brand in assignedBrands %}
                                                    <li aria-haspopup="false">
                                                        <a href="{{ route('selfservice.operator.type.index', brand.id) }}">
                                                            {{ brand.name }}
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% elseif assignedBrands.count == 1 %}
                                        <li aria-haspopup="false">
                                            <a href="{{ route('selfservice.operator.type.index', assignedBrands.first().id) }}">
                                                {{ Lang.choice('selfservice.type', 2) }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                                {% if auth_user().hasPermission('view.category') %}
                                    <li aria-haspopup="false">
                                        <a href="{{ route('selfservice.operator.category.index') }}">
                                            {{ Lang.choice('general.category', 2) }}
                                        </a>
                                    </li>
                                {% endif %}
                                {% if auth_user().hasPermission('view.article') %}
                                    <li aria-haspopup="false">
                                        <a href="{{ route('selfservice.operator.article.index') }}">
                                            {{ Lang.choice('selfservice.article', 2) }}
                                        </a>
                                    </li>
                                {% endif %}
                                {% if auth_user().hasPermission('view.selfservicetag') %}
                                    <li aria-haspopup="false">
                                        <a href="{{ route('selfservice.operator.tag.index') }}">
                                            {{ Lang.choice('selfservice.tag', 2) }}
                                        </a>
                                    </li>
                                {% endif %}
                                {% if auth_user().hasPermission('view.comment') %}
                                    <li aria-haspopup="false">
                                        <a href="{{ route('selfservice.operator.comment.index') }}" class="sp:lg:rounded-b-sm">
                                            {{ Lang.choice('selfservice.comment', 2) }}
                                        </a>
                                    </li>
                                {% endif %}
                                {% if internalTypes.whereIn('brand_id', assignedBrands.pluck('id').all()).count() %}
                                    <li class="sp-internal-selfservice sp:relative sp:lg:hidden" aria-haspopup="true">
                                        <a class="sp-nav-sub-menu">
                                            {{ Lang.get('selfservice.internal') }}
                                            <i class="fa-solid sp-chevron sp:py-0.5 sp:float-end sp:text-xs" aria-hidden="true"></i>
                                        </a>
                                        <ul class="sp-nav-dropdown">
                                            {% for brand in assignedBrands %}
                                                {% if internalTypes.where('brand_id', brand.id).count() %}
                                                    <li class="sp-multi-list" aria-haspopup="false">
                                                        <div class="sp-title">{{ brand.name }}</div>
                                                        {% for type in internalTypes.where('brand_id', brand.id) %}
                                                            <a href="{{ type.content == 1 ? type.url : route('selfservice.operator.internal.index', {'brand': type.brand_id, 'operatorSelfserviceType': type.slug}) }}"
                                                               {% if type.content == 1 %}target="_blank"{% endif %}>
                                                                {{ type.name }}
                                                            </a>
                                                        {% endfor %}
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                    {% if isModuleEnabled('Report') and auth_user().hasPermission('view.report') %}
                        <li class="sp:block sp:lg:inline-block" aria-haspopup="false">
                            <a class="sp-nav-item" href="{{ route('report.operator.index') }}">{{ Lang.choice('report.report', 2) }}</a>
                        </li>
                    {% endif %}
                    {% if auth_user().canViewSettings() %}
                        <li class="sp:block sp:lg:inline-block" aria-haspopup="false">
                            <a class="sp-nav-item" id="settingsNavigation" href="{{ route('core.operator.setting') }}">
                                {{ Lang.choice('general.setting', 2) }}
                            </a>
                        </li>
                    {% endif %}
                    {% if auth_user().hasPermission('view.addon') %}
                        <li class="sp:block sp:lg:inline-block" aria-haspopup="false">
                            <a class="sp-nav-item" href="{{ route('core.operator.marketplace.index') }}">
                                {{ Lang.choice('core.addon', 2) }}
                                {% if addonUpdates is not empty and addonUpdates > 0 %}
                                    <span class="sp-badge sp:ms-1">
                                        {{ addonUpdates }}
                                    </span>
                                {% endif %}
                            </a>
                        </li>
                    {% endif %}
                    {% if auth_user().hasPermission('view.emaillog|view.emailqueue|view.license|view.operatorlog|view.phpinfo|view.activitylog') %}
                        <li class="sp:block sp:lg:inline-block" aria-haspopup="true">
                            <a class="sp-nav-item">
                                {{ Lang.get('core.utilities') }}
                                <i class="fa-solid sp-chevron sp:py-0.5 sp:float-end sp:text-xs sp:lg:p-0 sp:lg:ms-1 sp:lg:float-none"
                                   aria-hidden="true"></i>
                            </a>
                            <ul class="sp-nav-dropdown">
                                {% if auth_user().hasPermission('view.emailqueue') %}
                                    <li aria-haspopup="false">
                                        <a href="{{ route('core.operator.emailqueue') }}">
                                            {{ Lang.get('core.email_queue') }}
                                        </a>
                                    </li>
                                {% endif %}
                                {% if auth_user().hasPermission('view.license') %}
                                    <li aria-haspopup="false">
                                        <a href="{{ route('core.operator.about') }}">
                                            {{ Lang.get('core.license_info') }}
                                        </a>
                                    </li>
                                {% endif %}
                                {% if auth_user().hasPermission('view.emaillog|view.operatorlog|view.activitylog') %}
                                    <li class="sp:relative" aria-haspopup="true">
                                        <a class="sp-nav-sub-menu">
                                            {{ Lang.choice('core.log', 2) }}
                                            <i class="fa-solid sp-chevron sp:py-0.5 sp:float-end sp:text-xs" aria-hidden="true"></i>
                                        </a>
                                        <ul class="sp-nav-dropdown">
                                            {% if auth_user().hasPermission('view.emaillog') %}
                                                <li aria-haspopup="false">
                                                    <a href="{{ route('core.operator.emaillog') }}">
                                                        {{ Lang.get('core.email_log') }}
                                                    </a>
                                                </li>
                                            {% endif %}
                                            {% if auth_user().hasPermission('view.logfiles') %}
                                                <li aria-haspopup="false">
                                                    <a href="{{ route('core.operator.logfiles.index') }}">
                                                        {{ Lang.get('core.file_manager') }}
                                                    </a>
                                                </li>
                                            {% endif %}
                                            {% if auth_user().hasPermission('view.operatorlog') %}
                                                <li aria-haspopup="false">
                                                    <a href="{{ route('user.operator.operatorloginlog') }}">
                                                        {{ Lang.get('user.operator_login_log') }}
                                                    </a>
                                                </li>
                                            {% endif %}
                                            {% if auth_user().hasPermission('view.activitylog') %}
                                                <li aria-haspopup="false">
                                                    <a href="{{ route('user.operator.systemactivitylog') }}">
                                                        {{ Lang.get('user.system_activity_log') }}
                                                    </a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </li>
                                {% endif %}
                                {% if auth_user().hasPermission('view.phpinfo|view.systemcleanup') %}
                                    <li class="sp:relative" aria-haspopup="true">
                                        <a class="sp-nav-sub-menu">
                                            {{ Lang.get('general.system') }}
                                            <i class="fa-solid sp-chevron sp:py-0.5 sp:float-end sp:text-xs" aria-hidden="true"></i>
                                        </a>
                                        <ul class="sp-nav-dropdown">
                                            {% if auth_user().hasPermission('view.background_jobs') %}
                                                <li aria-haspopup="false">
                                                    <a href="{{ route('core.operator.background_jobs') }}">
                                                        {{ Lang.get('core.background_jobs') }}
                                                    </a>
                                                </li>
                                            {% endif %}
                                            {% if auth_user().hasPermission('view.phpinfo') and function_exists('phpinfo') %}
                                                <li aria-haspopup="false">
                                                    <a href="{{ route('core.operator.phpinfo') }}">
                                                        {{ Lang.get('core.php_info') }}
                                                    </a>
                                                </li>
                                            {% endif %}
                                            {% if auth_user().hasPermission('view.systemcleanup') %}
                                                <li aria-haspopup="false">
                                                    <a href="{{ route('core.operator.systemcleanup') }}">
                                                        {{ Lang.get('core.system_cleanup') }}
                                                    </a>
                                                </li>
                                            {% endif %}
                                            {% if auth_user().hasPermission('view.system_health') %}
                                                <li aria-haspopup="false">
                                                    <a href="{{ route('core.operator.system_health') }}">
                                                        {{ Lang.get('core.system_health') }}
                                                    </a>
                                                </li>
                                            {% endif %}
                                            {% if auth_user().hasPermission('view.systemupdate') %}
                                                <li aria-haspopup="false">
                                                    <a href="{{ route('core.operator.systemupdate') }}">
                                                        {{ Lang.get('core.system_update') }}
                                                    </a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}

                    {{ View.fireHook('operator.navigation') }}

                    {% if auth_user().hasPermission('view.private_messaging') %}
                    <li class="sp:block sp:lg:hidden" aria-haspopup="false">
                        <a class="sp-nav-item sp-private-messages" href="{{ route('core.operator.message.index') }}">
                            {{ Lang.choice('general.message', 2) }}
                            {% if notificationCount|default is not empty and notificationCount > 0 %}
                                <span class="sp-badge sp:px-2 sp:py-1 sp:ms-1 sp:text-xs">
                                    {{ notificationCount }}
                                </span>
                            {% endif %}
                        </a>
                    </li>
                    {% endif %}

                    <li class="sp:block sp:lg:hidden" aria-haspopup="false">
                        <a class="sp-nav-item" href="{{ route('user.operator.personalsetting') }}">
                            {{ Lang.get('user.personal_settings') }}
                        </a>
                    </li>
                    <li class="sp:block sp:lg:hidden" aria-haspopup="false">
                        <a class="sp-nav-item" href="{{ route('user.operator.security') }}">
                            {{ Lang.get('user.security_settings') }}
                        </a>
                    </li>
                    {% if isModuleEnabled('Ticket') and auth_user().hasPermission('view.replytemplate') %}
                        <li class="sp:block sp:lg:hidden" aria-haspopup="false">
                            <a class="sp-nav-item" href="{{ route('user.operator.replytemplate') }}">
                                {{ Lang.choice('user.reply_template', 2) }}
                            </a>
                        </li>
                    {% endif %}
                    <li class="sp:block sp:lg:hidden" aria-haspopup="false">
                        <a class="sp-nav-item logout-link" data-url="{{ route('user.operator.logout') }}" data-method="post" rel="nofollow">
                            {{ Lang.get('user.logout') }}
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="search-container sp:grow sp:py-1.5 sp:bg-primary-800 sp:z-10 sp:lg:flex-none sp:lg:mx-2 sp:xl:w-64 sp:xl:mx-3">
                <form class="search-form sp:relative" action="{{ route('core.operator.search') }}" method="get" name="search_form" autocomplete="off">
                    <input type="search" name="query" placeholder="{{ Lang.get('general.search') }}..." autocomplete="on" class="search" readonly="readonly" />
                    {% if Config.get('settings.operator' ~ auth_user().id ~ '.shortcuts_enabled') %}
                        {% set search_shortcut = shortcut_mappings ? shortcut_mappings[2]|default('/') : '/' %}
                        <kbd class="sp-search-shortcut sp:absolute sp:top-1.5 sp:end-1.5 sp:px-2 sp:py-1 sp:bg-primary-700 sp:rounded sp:text-primary-100 sp:font-bold sp:z-10001 sp:lg:hidden sp:xl:inline-block">
                            {{ search_shortcut }}
                        </kbd>
                    {% endif %}
                    <div class="sp-search-clear sp:absolute sp:hidden sp:top-1.5 sp:end-1.5 sp:p-1 sp:bg-primary-700 sp:rounded sp:text-primary-100 sp:font-bold sp:z-10001 sp:cursor-pointer">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                </form>
            </div>

            {% if updateExists and auth_user().hasPermission('view.systemupdate') %}
                <div class="sp:flex-none sp:bg-primary-800 sp:z-10">
                    <div class="sp:hidden sp:lg:inline-block sp:lg:relative sp:lg:py-2">
                        <a href="{{ route('core.operator.systemupdate') }}" title="{{ Lang.get('core.update_available') }}"
                           class="sp:inline-flex sp:p-2 sp:me-2 sp:text-white sp:hover:text-white">
                            <div class="sp:flex-auto">
                                <span class="fa-stack sp:text-[0.5rem]">
                                    <i class="fa-solid fa-download fa-stack-2x"></i>
                                    <span class="sp:text-primary-300">
                                        <i class="fa-solid fa-circle fa-stack-1x sp:transform sp:translate-x-2 sp:-translate-y-2"></i>
                                    </span>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
            {% endif %}

            {% if auth_user().hasPermission('view.private_messaging') %}
            <div class="sp:flex-none sp:bg-primary-800 sp:z-10">
                <div class="sp-private-messages sp:hidden sp:lg:inline-block sp:lg:relative sp:lg:py-2" id="privateMessages">
                    <a href="{{ route('core.operator.message.index') }}" class="sp:inline-flex sp:p-0.5 sp:mx-2 sp:text-white"
                       title="{{ Lang.get('core.private_messages') }}">
                        <div class="sp:flex-auto">
                            <i class="fa-solid fa-comments sp:text-lg"></i>
                        </div>
                        {% if notificationCount|default is not empty and notificationCount > 0 %}
                            <div class="sp:flex-auto sp:-ms-1.5">
                                <span class="sp-badge sp:px-1.5 sp:py-0.5 sp:text-xs">{{ notificationCount }}</span>
                            </div>
                        {% endif %}
                    </a>
                </div>
            </div>
            {% endif %}

            <div class="sp:flex-none sp:bg-primary-800 sp:z-10">
                {% if isModuleEnabled('Selfservice') and internalTypes.whereIn('brand_id', assignedBrands.pluck('id').all()).count() %}
                    <div class="sp:hidden sp:lg:inline-block">
                        <div class="sp:block sp:mx-1">
                            <ul class="sp:relative">
                                <li class="sp-internal-selfservice" aria-haspopup="true">
                                    <div class="sp-nav-item sp-nav-icon-item sp:flex sp:px-1 sp:py-3 sp:text-white sp:leading-[1.5] sp:hover:bg-primary-800">
                                        <div class="sp:flex-auto sp:py-1 sp:ms-1 sp:me-2">
                                            <i class="fa-solid fa-book sp:float-start"></i>
                                        </div>
                                        <div class="sp:flex-auto">
                                            <i class="fa-solid sp-chevron sp:text-xs" aria-hidden="true"></i>
                                        </div>
                                    </div>

                                    <ul class="sp-nav-dropdown sp:end-0 sp:text-end">
                                        {% for brand in assignedBrands %}
                                            {% if internalTypes.where('brand_id', brand.id).count() %}
                                                <li class="sp-multi-list" aria-haspopup="false">
                                                    <div class="sp-title">{{ brand.name }}</div>
                                                    {% for type in internalTypes.where('brand_id', brand.id) %}
                                                        <a href="{{ type.content == 1 ? type.url : route('selfservice.operator.internal.index', {'brand': type.brand_id, 'operatorSelfserviceType': type.slug}) }}"
                                                           {% if type.content == 1 %}target="_blank"{% endif %}>
                                                            {{ type.name }}
                                                        </a>
                                                    {% endfor %}
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="sp:flex-none sp:bg-primary-800 sp:z-10">
                <div class="sp:hidden sp:lg:inline-block">
                    <div class="sp:block">
                        <ul class="sp:relative">
                            <li aria-haspopup="true">
                                <div class="sp-nav-item sp-nav-icon-item sp:flex sp:px-1 sp:py-3 sp:pe-5 sp:hover:bg-primary-800">
                                    <div class="sp:flex-auto sp:mx-2">
                                        <img src="{{ auth_user().avatar_url }}" alt="{{ Lang.choice('general.operator', 1) }}"
                                             class="sp-avatar sp:max-w-6" />
                                    </div>
                                    <div class="sp:flex-auto sp:leading-[1.5]">
                                        <i class="fa-solid sp-chevron sp:text-white sp:text-xs" aria-hidden="true"></i>
                                    </div>
                                </div>

                                <ul class="sp-nav-dropdown sp:end-0 sp:text-end sp:truncate">
                                    <li aria-haspopup="false">
                                        <a href="{{ route('user.operator.personalsetting') }}">{{ Lang.get('user.personal_settings') }}</a>
                                    </li>
                                    <li aria-haspopup="false">
                                        <a href="#" id="keyboard-shortcuts">{{ Lang.get('core.keyboard_shortcuts') }}</a>
                                    </li>
                                    <li aria-haspopup="false">
                                        <a href="{{ route('user.operator.security') }}">{{ Lang.get('user.security_settings') }}</a>
                                    </li>
                                    {% if isModuleEnabled('Ticket') and auth_user().hasPermission('view.replytemplate') %}
                                        <li aria-haspopup="false">
                                            <a href="{{ route('user.operator.replytemplate') }}">{{ Lang.choice('user.reply_template', 2) }}</a>
                                        </li>
                                    {% endif %}
                                    <li aria-haspopup="false">
                                        <a class="logout-link" data-url="{{ route('user.operator.logout') }}" data-method="post">
                                            {{ Lang.get('user.logout') }}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="sp-mobile-nav sp:bg-primary-800 sp:px-3 sp:py-1.5 sp:lg:hidden">
                <div class="sp:px-2 sp:py-1.5 sp:bg-primary-800 sp:rounded sp:border sp:border-primary-600 sp:text-white
                            sp:cursor-pointer sp:hover:bg-primary-600">
                    <svg focusable="false" viewBox="0 0 24 24">
                        <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
                    </svg>
                </div>
            </div>
        </div>
    {% endblock %}

    {{ View.fireHook('operator.header_end') }}
</header>

<div id="wrapper" class="sp:flex sp:overflow-hidden sp:lg:pt-12 sp:print:h-auto sp:print:overflow-auto sp:print:pt-0">
    {{ View.fireHook('operator.wrapper_start') }}

    {% set sidebarContent = block('sidebar') ?? '' %}
    {% if sidebarContent|trim is not empty %}
        {% set navSidebarCookie = app.request.cookies.get('navigation-sidebar') %}
        <div id="navigation-sidebar"
             class="sp-sidebar sp:flex-none sp:w-11 sp:bg-secondary sp:border-e sp:border-tertiary sp:z-10001 sp:print:hidden
                    {{ navSidebarCookie is same as('sp-sidebar-closed') ? 'sp-sidebar-closed' : 'sp:lg:w-72' }}">
            <div class="sp-sidebar-inner sp:h-full">
                {{ View.fireHook('operator.navigation_sidebar_start') }}

                {{ sidebarContent|raw }}

                {{ View.fireHook('operator.navigation_sidebar_end') }}
            </div>

            <div class="sp-toggle-sidebar sp:fixed sp:bottom-0 sp:-start-4 sp:px-1.5 sp:py-2 sp:ms-11 sp:mb-4 sp:rounded-full
                        sp:shadow-md sp:text-secondary sp:leading-none sp:cursor-pointer sp:z-10001 sp:hover:text-primary
                        {{ navSidebarCookie is same as('sp-sidebar-closed') ? '' : 'sp:lg:ms-72' }}">
                <i class="fa-solid sp-chevron"></i>
            </div>
        </div>
    {% endif %}

    <div id="content" class="sp-content sp:grow sp:relative sp:bg-primary sp:overflow-y-auto sp:print:overflow-x-hidden">
        {# Extra div needed to fix Safari position sticky issue (#2393) #}
        <div>
            {{ View.fireHook('operator.content_start') }}

            {% if Config.get('settings.maintenance_mode') %}
                <div class="sp-alert sp-alert-warning sp:mb-0 sp:rounded-none">
                    {{ Lang.get('messages.maintenance_mode') }}
                </div>
            {% endif %}

            {% block precontent %}{% endblock %}

            {% if systemHealthErrors and auth_user().hasPermission('view.system_health') %}
                <div class="sp-alert sp-alert-sticky sp-alert-error">
                    <i class="fa-solid fa-heartbeat"></i>&nbsp;
                    {{ Lang.get('core.system_health_errors', {'link': route('core.operator.system_health') })|raw }}
                </div>
            {% endif %}

            <!-- Box to display success/error messages generated by JavaScript -->
            <div class="sp-alert sp-alert-sticky sp:hidden" id="js-message-box"></div>

            {% if Session.has('success') %}
                <div class="sp-alert sp-alert-sticky sp-alert-success">
                    <i class="fa-solid fa-times sp-alert-close" title="{{ Lang.get('general.close') }}"></i>
                    {{ Session.get('success') }}
                </div>
            {% elseif (Session.has('error') or Session.has('email_error')) %}
                <div class="sp-alert sp-alert-sticky sp-alert-error">
                    <i class="fa-solid fa-times sp-alert-close" title="{{ Lang.get('general.close') }}"></i>
                    {{ Purifier.clean(implode('<br /><br />', array_filter([ Session.get('error'), Session.get('email_error')|e ])) )|raw }}
                </div>
            {% endif %}

            {% if errors|default is not empty and errors.count() %}
                <div class="sp-alert sp-alert-sticky sp-alert-error">
                    <i class="fa-solid fa-times sp-alert-close" title="{{ Lang.get('general.close') }}"></i>
                    <strong>{{ Lang.get('messages.please_correct') }}</strong><br />
                    {% for error in errors.unique() %}
                        {{ Purifier.clean(error) }}<br />
                    {% endfor %}
                </div>
            {% endif %}

            <div class="sp-content-inner sp:relative sp:p-6 sp:print:p-0 sp:print:pt-6">
                {{ View.fireHook('operator.content_inner_start') }}

                {% block pageTitle %}
                    {% if title is not empty %}
                        {% if docsLink is not empty %}
                            <div class="sp:flex sp:mb-6">
                                <div class="sp:grow">
                        {% endif %}

                        <h1 id="pageTitle" {% if docsLink is not empty %}class="sp:mb-0"{% endif %}>{{ title|raw }}</h1>

                        {% if docsLink is not empty %}
                                </div>
                                <div class="sp:flex-none sp:mt-0.5 sp:print:hidden">
                                    <a href="{{ docsLink }}" target="_blank"
                                       class="sp:block sp:mt-0.5 sp:ms-3 sp:text-xl sp:text-tertiary sp:hover:text-secondary sp:sm:mt-2">
                                        <i class="fa-solid fa-question-circle"></i>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endblock %}

                {% if block('breadcrumb') is not empty %}
                    <div class="breadcrumb">{% block breadcrumb %}{% endblock %}</div>
                {% endif %}

                {% if block('description') is defined %}
                    <div class="sp-title-description">{{ block('description')|trim|raw }}</div>
                {% endif %}

                {% block content %}{% endblock %}

                {{ View.fireHook('operator.content_inner_end') }}
            </div>

            {% block postcontent %}{% endblock %}

            {{ View.fireHook('operator.content_end') }}
        </div>
    </div>

    {% set contextPanelContent = (block('context_sidebar') ?? '') ~ View.fireHook('operator.context_panel') %}
    {% if contextPanelContent is not empty %}
        <div id="context-sidebar" class="sp-sidebar sp:flex-none sp:flex sp:max-w-full sp:print:hidden">
            <div class="sp-context-sidebar-content sp-sidebar-inner sp:hidden sp:shrink sp:bg-primary sp:border-s sp:border-tertiary sp:overflow-y-auto">
                {{ contextPanelContent|raw }}
            </div>
            <div class="sp-context-sidebar-tabs sp:flex-none sp:flex sp:flex-col sp:w-11 sp:bg-secondary sp:border-s sp:border-tertiary"></div>
        </div>
    {% endif %}

    {{ View.fireHook('operator.wrapper_end') }}
</div>

{{ View.fireHook('operator.footer') }}

{% include 'operator.' ~ template ~ '.footer_common' %}

<!-- Global Javascript Functions -->
<script src="{{ asset_rev('resources/assets/operator/js/mobile.js') }}"></script>
<script src="{{ asset_rev('resources/assets/operator/js/main.js') }}"></script>
<script src="{{ asset_rev('resources/assets/dist/shortcuts.js') }}"></script>
<script src="{{ asset_rev('resources/assets/operator/js/search.js') }}"></script>

{% block scripts_footer %}{% endblock %}

<!-- Navigation sidebar and context sidebar -->
<script src="{{ asset_rev('resources/assets/operator/js/sidebar.js') }}"></script>

{% set enabled = Config.get('settings.product_tour_enabled', null) %}
{% if enabled == '1' or enabled is null %}
    <script src="{{ asset_rev('resources/assets/dist/producttour.js') }}"></script>
{% endif %}

{{ View.fireHook('operator.body_end') }}

</body>

</html>
