{% if not article.getAttachments().isEmpty() %}
    <h4 class="sp-mt-6 sp-mb-0">{{ Lang.choice('general.attachment', 2) }}</h4>

    <div class="print:sp-hidden">
        <ul class="sp-attachments">
            {% for attachment in article.getAttachments() %}
                <li>
                    {% if attachment.upload.isPreviewable() %}
                        {% if attachment.upload.isPreviewableVideo() or attachment.upload.isPreviewableAudio() %}
                        <div class="sp-hidden" id="html5player-{{ attachment.id }}">
                            <video class="lg-video-object lg-html5" controls preload="none" {% if attachment.upload.isPreviewableAudio() %}poster="{{ asset_rev('resources/assets/libs/css/icons/vivid/' ~ attachment.upload.icon ~ '.svg') }}"{% endif %}>
                                <source src="{{ attachment.previewUrl(type, true) }}" type="{{ attachment.upload.mime }}">
                                Your browser does not support HTML5 audio/video.
                            </video>
                        </div>
                        <a class="sp-attachment-preview group" data-html="#html5player-{{ attachment.id }}" data-download-url="{{ attachment.downloadLink(type) }}">
                        {% else %}
                        <a class="{% if attachment.upload.isPreviewableImage() %}sp-attachment-preview{% endif %} group"
                           {% if not attachment.upload.isPreviewableImage() %}target="_blank"{% endif %}
                           href="{{ attachment.previewUrl(type, true) }}"
                           data-download-url="{{ attachment.downloadLink(type) }}">
                        {% endif %}
                    {% else %}
                        <a class="sp-group" href="{{ attachment.downloadLink(type) }}">
                    {% endif %}

                        <div class="sp-preview sp-relative sp-h-20 sp--mx-4 sp--mt-2 sp-mb-2 sp-rounded-t sp-text-center">
                            <div class="sp-h-20 sp-bg-primary sp-border sp-border-b-0 sp-border-secondary sp-rounded-t
                                group-hover:sp-opacity-25">
                                {% if attachment.upload.isPreviewableImage() %}
                                    <span data-preview-url="{{ attachment.previewUrl(type) }}"
                                          data-download-url="{{ attachment.downloadLink(type) }}"
                                          data-icon="{{ attachment.upload.icon }}">
                                <i class="fas fa-spinner fa-spin fa-fw sp-mt-8"></i>
                            </span>
                                {% else %}
                                    <span class="fiv-viv fiv-icon-{{ attachment.upload.icon }} sp-text-5xl sp-mt-4 group-hover:sp-opacity-0"></span>
                                {% endif %}
                            </div>

                            <div class="sp-preview-hover sp-absolute sp-w-full sp-h-full sp-top-0
                                sp-pt-{% if attachment.upload.isPreviewableImage() %}4{% else %}3{% endif %}
                                sp-text-4xl sp-opacity-0 group-hover:sp-opacity-100">
                                {% if attachment.upload.isPreviewable() %}
                                    <i class="fas {% if attachment.upload.isPreviewableAudio() %}fa-headphones{% else %}fa-eye{% endif %}"></i>
                                {% else %}
                                    <i class="fas fa-download"></i>
                                {% endif %}
                            </div>
                        </div>

                        <div>
                            <div class="sp-attachment-name">{{ attachment.original_name }}</div>
                            <div class="sp-description">{{ attachment.upload.size }}</div>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="sp-hidden print:sp-block">
        <ul>
            {% for attachment in article.getAttachments() %}
                <li>
                    <a href='{{ attachment.downloadLink(type) }}'>{{ attachment.original_name }}</a>
                    <span class="sp-description">({{ attachment.upload.size }})</span>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
