{% extends parent_template %}

{% block title %}
	{{ type.name }}
{% endblock %}

{% block description %}
    {% if auth_user().hasPermission('create.article') %}
        <a href="{{ route('selfservice.operator.article.create', {'type': type.id}) }}" class="sp-button print:sp-hidden">
            <i class="fas fa-plus"></i>&nbsp;
            {{ Lang.get('general.add_item', {'item': Lang.choice('selfservice.article', 1)}) }}
        </a>
    {% endif %}
{% endblock %}

{% block sidebar %}
    {% include 'operator.' ~ template ~ '.selfservice.internal.sidebar' %}
{% endblock %}

{% block content %}

	{# Show all the parent categories #}

    {% include 'operator.' ~ template ~ '.selfservice.internal.category_list' with { 'categories': parent_categories } %}

	{# Latest / Most Popular articles #}

	<ul class="sp-tabs sp-mt-6">
		<li id="Popular" class="sp-active">
            <a>{{ Lang.get('selfservice.popular_items') }}</a>
        </li>
        <li id="Latest">
            <a>{{ Lang.get('selfservice.latest_items') }}</a>
        </li>
	</ul>

    <div id="tabPopular" class="sp-tab-content">
        {% include 'operator.' ~ template ~ '.selfservice.internal.article_list' with { 'articles': popular } %}
    </div>
    <div id="tabLatest" class="sp-tab-content sp-hidden">
        {% include 'operator.' ~ template ~ '.selfservice.internal.article_list' with { 'articles': latest } %}
    </div>

{% endblock %}
