{% extends parent_template %}

{% block title %}
    {{ Lang.get('core.email_queue') }}
{% endblock %}

{% block description %}
    {{ Lang.get('core.email_queue_desc') }}
{% endblock %}

{% block precontent %}
    <div class="sp-quick-actions">
        <ul>
            <li class="sp-action-group sp-inline-block">
                <button class="sp-action sp-filter-results">
                    <i class="fas fa-filter"></i>&nbsp; {{ Lang.get('general.filter') }}
                </button>
            </li>
        </ul>
    </div>

    <div class="sp-sent-email sp-alert sp-alert-success sp-alert-sticky sp-hidden">
        {{ Lang.get('messages.sent_email') }}
    </div>
{% endblock %}

{% block content %}

    <div class="sp-filter-results sp-hidden">
        <h3>{{ Lang.get('general.filter_results') }}</h3>

        <div class="sp-table">
            <div class="sp-table-row">
                <label>{{ Lang.get('general.date') }}:</label>
                <div>
                    <span class="sp-block sm:sp-inline-block">
                        {{ form_text('sSearch_0_start', null, {'class': 'datepicker sp-w-40', 'placeholder': '&#xf073; &nbsp;' ~ Lang.get('general.start_date')}) }}<!--
                        -->{{ form_button('<i class="fas fa-fw fa-times"></i>', {'class': 'reset-filter'}) }}
                    </span>
                    <span class="sp-hidden sm:sp-inline-block">&nbsp;{{ Lang.get('general.to') }}&nbsp;</span>
                    <span class="sp-block sp-mt-2 sm:sp-inline-block sm:sp-mt-0">
                        {{ form_text('sSearch_0_end', null, {'class': 'datepicker sp-w-40', 'placeholder': '&#xf073; &nbsp;' ~ Lang.get('general.end_date')}) }}<!--
                        -->{{ form_button('<i class="fas fa-fw fa-times"></i>', {'class': 'reset-filter'}) }}
                    </span>
                </div>
            </div>
            <div class="sp-table-row">
                <label>{{ Lang.choice('general.recipients', 2) }}:</label>
                <div>
                    {{ form_text('sSearch_1', null, {'placeholder': Lang.get('general.type_to_filter')}) }}<!--
                    -->{{ form_button('<i class="fas fa-fw fa-times"></i>', {'class': 'reset-filter'}) }}
                </div>
            </div>
            <div class="sp-table-row">
                <label>{{ Lang.get('ticket.from_name') }}:</label>
                <div>
                    {{ form_text('sSearch_2', null, {'placeholder': Lang.get('general.type_to_filter')}) }}<!--
                    -->{{ form_button('<i class="fas fa-fw fa-times"></i>', {'class': 'reset-filter'}) }}
                </div>
            </div>
            <div class="sp-table-row">
                <label>{{ Lang.get('ticket.from_address') }}:</label>
                <div>
                    {{ form_text('sSearch_3', null, {'placeholder': Lang.get('general.type_to_filter')}) }}<!--
                    -->{{ form_button('<i class="fas fa-fw fa-times"></i>', {'class': 'reset-filter'}) }}
                </div>
            </div>
            <div class="sp-table-row">
                <label>{{ Lang.get('ticket.subject') }}:</label>
                <div>
                    {{ form_text('sSearch_4', null, {'placeholder': Lang.get('general.type_to_filter')}) }}<!--
                    -->{{ form_button('<i class="fas fa-fw fa-times"></i>', {'class': 'reset-filter'}) }}
                </div>
            </div>
            <div class="sp-table-row">
                <label>{{ Lang.choice('general.message', 1) }}:</label>
                <div>
                    {{ form_text('sSearch_5', null, {'placeholder': Lang.get('general.type_to_filter')}) }}<!--
                    -->{{ form_button('<i class="fas fa-fw fa-times"></i>', {'class': 'reset-filter'}) }}
                </div>
            </div>
            <div class="sp-table-row">
                <label>{{ Lang.choice('general.status', 1) }}:</label>
                <div>
                    {{ form_select('sSearch_6', {'-1': Lang.get('general.select_value'), 0: Lang.get('general.pending'), 1: Lang.get('general.blocked')}) }}<!--
                    -->{{ form_button('<i class="fas fa-fw fa-times"></i>', {'class': 'reset-filter'}) }}
                </div>
            </div>
        </div>
    </div>

	{{ table.render()|raw }}

{% endblock %}

{% block scripts_footer %}
    <script src="{{ asset_rev('resources/assets/libs/datatables/js/jquery.dataTables.min.js') }}"></script>
    {{ table.script()|raw }}

    <script type="text/javascript" src="{{ asset_rev('resources/assets/general/js/queryfiltering.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            $(document).on('click', '.send-button', function () {
                $.get('{{ route('core.operator.emailqueue.send') }}', { 'id[]': [ $(this).data('id') ] })
                    .done(function () {
                        $('.sp-sent-email.sp-alert').show(500).delay(5000).hide(500);
                        $('.dataTable').dataTable()._fnAjaxUpdate();
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        var message = '{{ Lang.get('log.email_send_failed') }}';
                        try {
                            var json = JSON.parse(jqXHR.responseText);
                            if (typeof json.message !== 'undefined') {
                                message = '<br />' + $('<div/>').text(json.message).html();
                            }
                        } catch (e) {
                            // Invalid json.
                        }

                        Swal.fire({
                            title: '{{ Lang.get('messages.error')  }}',
                            html: message,
                            icon: 'error'
                        });
                    });
            });
        });
    </script>
{% endblock %}
