{% extends parent_template %}

{% block title %}
    {{ Lang.get('core.email_queue') }}
{% endblock %}

{% block description %}
    {{ Lang.get('core.email_queue_desc') }}
{% endblock %}

{% block precontent %}
    <div class="sp-quick-actions">
        <ul>
            <li class="sp-action-group sp-inline-block">
                <button class="sp-action sp-filter-grid">
                    <i class="fas fa-filter"></i>
                    <span class="sp-hidden sm:sp-inline">&nbsp;{{ Lang.get('general.filter') }}</span>
                </button>
                <button class="sp-action sp-filter-datepicker" data-active="0">
                    <i class="fas fa-calendar"></i>
                    <span class="sp-hidden xs:sp-inline">
                        &nbsp;<span class="sp-filter-datepicker-text">{{ Lang.get('general.date') }}</span>
                    </span>
                </button>
            </li>
        </ul>
    </div>

    <div class="sp-sent-email sp-alert sp-alert-success sp-alert-sticky sp-hidden">
        {{ Lang.get('messages.sent_email') }}
    </div>
{% endblock %}

{% block content %}

    <div class="sp-filter-results sp-hidden">
        <h3>{{ Lang.get('general.filter_results') }}</h3>

        <div class="sp-table">
            <div class="sp-table-row">
                <label>{{ Lang.choice('general.recipients', 2) }}:</label>
                <div id="filter_recipients"></div>
            </div>
            <div class="sp-table-row">
                <label>{{ Lang.get('ticket.from_name') }}:</label>
                <div id="filter_from_name"></div>
            </div>
            <div class="sp-table-row">
                <label>{{ Lang.get('ticket.from_address') }}:</label>
                <div id="filter_from_address"></div>
            </div>
            <div class="sp-table-row">
                <label>{{ Lang.get('ticket.subject') }}:</label>
                <div id="filter_subject"></div>
            </div>
            <div class="sp-table-row">
                <label>{{ Lang.choice('general.message', 1) }}:</label>
                <div id="filter_message"></div>
            </div>
            <div class="sp-table-row">
                <label>{{ Lang.choice('general.status', 1) }}:</label>
                <div id="filter_status"></div>
            </div>
        </div>
    </div>

	{{ table.render()|raw }}

{% endblock %}

{% block scripts_footer %}
    <script src="{{ asset_rev('resources/assets/libs/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset_rev('resources/assets/libs/daterangepicker/js/daterangepicker.min.js') }}"></script>
    <script src="{{ asset_rev('resources/assets/operator/js/datefiltering.js') }}"></script>
    {{ table.script()|raw }}

    <script>
        $(function () {
            oTable.yadcf([
                {column_number: 1, column_data_type: "text", filter_container_id: "filter_recipients", filter_type: "text", filter_delay: 500, filter_reset_button_text: ''},
                {column_number: 2, column_data_type: "text", filter_container_id: "filter_from_name", filter_type: "text", filter_delay: 500, filter_reset_button_text: ''},
                {column_number: 3, column_data_type: "text", filter_container_id: "filter_from_address", filter_type: "text", filter_delay: 500, filter_reset_button_text: ''},
                {column_number: 4, column_data_type: "text", filter_container_id: "filter_subject", filter_type: "text", filter_delay: 500, filter_reset_button_text: ''},
                {column_number: 5, column_data_type: "text", filter_container_id: "filter_message", filter_type: "text", filter_delay: 500, filter_reset_button_text: ''},
                {column_number: 6, filter_container_id: "filter_status", filter_reset_button_text: ''},
            ]);

            $(document).on('click', '.send-button', function () {
                const $this = $(this);

                $this.prop('disabled', 'disabled');
                $this.find('i').hide();
                $this.append('<i class="fa-solid fa-spin fa-spinner">');

                $.get('{{ route('core.operator.emailqueue.send') }}', { 'id[]': [ $(this).data('id') ] })
                    .done(function () {
                        $('.sp-sent-email.sp-alert').show(500).delay(5000).hide(500);
                        $('.dataTable').dataTable().api().ajax.reload();
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        var message = '{{ Lang.get('log.email_send_failed') }}';
                        try {
                            var json = JSON.parse(jqXHR.responseText);
                            if (typeof json.message !== 'undefined') {
                                message = '<br />' + $('<div/>').text(json.message).html();
                            }
                        } catch (e) {
                            // Invalid json.
                        }

                        Swal.fire({
                            title: '{{ Lang.get('messages.error')  }}',
                            html: message,
                            icon: 'error'
                        });
                    })
                    .always(function () {
                        $this.find('i.fa-spinner').remove();
                        $this.find('i').show();
                        $this.prop('disabled', false);
                    });
            });
        });
    </script>
{% endblock %}
