<!DOCTYPE html>
<html class="{{ get_template_mode() }}" dir="{{ get_template_dir() }}" lang="{{ App.getLocale() }}">

<head>
    {{ View.fireHook('operator.head_start') }}

    <title>{{ Lang.get('ticket.view_feedback') }}</title>

    {% include 'operator.' ~ template ~ '.head_common' %}

    {{ View.fireHook('operator.head') }}
    {{ View.fireHook('operator.head_end') }}
</head>

<body class="sp-m-6 sp-bg-secondary sp-text-primary print:sp-bg-primary" data-disable-pace>

    {{ View.fireHook('operator.body_start') }}

    <div class="sp-container sp-m-auto">
        {{ View.fireHook('operator.wrapper_start') }}

        <div class="sp-bg-primary sp-shadow sp-break-words sm:sp-rounded print:sp-shadow-none">
            {{ View.fireHook('operator.content_start') }}

            <div class="sp-p-6 sp-pb-0 sp-mt-6 sm:sp-mt-8 print:sp-p-0">
                {{ View.fireHook('operator.content_inner_start') }}

                {% block feedback_header %}{% endblock %}

                {% if customfields is not empty %}
                    <div class="sp-form-container sp-border-b-0">
                        <div class="sp-form-row">
                            <label>{{ Lang.get('ticket.rating') }}</label>
                            <div class="sp-input-container">
                                <strong class="{{ record.rating.textColour() }}">{{ record.rating.toString() }}</strong>
                            </div>
                        </div>

                        {% include 'operator.' ~ template ~ '.forms.custom_fields' %}
                    </div>
                {% else %}
                    <div class="sp-alert sp-alert-error sp-alert-bottom">
                        {{ Lang.get('ticket.feedback_fields_error') }}
                    </div>
                {% endif %}

                {{ View.fireHook('operator.content_inner_end') }}
            </div>

            {{ View.fireHook('operator.content_end') }}
        </div>

        {{ View.fireHook('operator.wrapper_end') }}
    </div>

    {{ View.fireHook('operator.footer') }}

    {% include 'operator.' ~ template ~ '.footer_common' %}

    <!-- General -->
    <script src="{{ asset_rev('resources/assets/operator/js/main.js') }}"></script>

    <!-- WYSIWYG Editor -->
    <script src="{{ asset_rev('resources/assets/libs/editor.min.js') }}"></script>

    <!-- Custom fields -->
    <script src="{{ asset_rev('resources/assets/general/js/customfields.js') }}"></script>

    <script>
        $(document).ready(function() {
            // Disable all inputs.
            $(':input').prop('disabled', true);

            // Set wysiwyg editor to readonly.
            $('textarea.tox-editor').editor().setMode('readonly');
        });
    </script>

    {{ View.fireHook('operator.body_end') }}

</body>

</html>
