<!DOCTYPE html>
<html class="{{ get_template_mode() }}" dir="{{ get_template_dir() }}" lang="{{ App.getLocale() }}">

<head>
    {{ View.fireHook('operator.head_start') }}

    <title>{{ record.job_name }}</title>

    {% include 'operator.' ~ template ~ '.head_common' %}

    {{ View.fireHook('operator.head') }}
    {{ View.fireHook('operator.head_end') }}
</head>

<body class="xs:sp-m-6 sp-bg-secondary sp-text-primary print:sp-bg-primary" data-disable-pace>

    {{ View.fireHook('operator.body_start') }}

    <div class="sp-container sp-m-auto">
        {{ View.fireHook('operator.wrapper_start') }}

        <div class="sp-bg-primary sp-shadow sp-break-words xs:sp-rounded print:sp-shadow-none">
            {{ View.fireHook('operator.content_start') }}

            <div class="sp-p-6 print:sp-p-0">
                {{ View.fireHook('operator.content_inner_start') }}

                <h2 class="sp-mt-0">{{ record.job_name }}</h2>

                <div class="md:sp-p-6 md:sp-border md:sp-border-secondary md:sp-rounded">

                    <div class="sp-form-row">
                        <label>{{ Lang.get('general.id') }}</label>
                        <div>{{ record.uuid }}</div>
                    </div>

                    <div class="sp-form-row">
                        <label>{{ Lang.get('core.queue') }}</label>
                        <div>{{ record.queue }}</div>
                    </div>

                    {% if record.pushed_at %}
                        <div class="sp-form-row">
                            <label>{{ Lang.get('general.created_date') }}</label>
                            <div>{{ formatDate(record.pushed_at) }}</div>
                        </div>
                    {% endif %}

                    <div class="sp-form-row sp-mb-0">
                        <label>{{ Lang.get('core.failed_at') }}</label>
                        <div>{{ formatDate(record.failed_at_timestamp) }}</div>
                    </div>

                </div>

                <h2>{{ Lang.get('core.exception') }}</h2>

                <div class="sp-border sp-border-b-0 sp-border-secondary sp-rounded">
                    <table class="sp-table-grid">
                        {% for line in record.exception|split('\n') %}
                        <tr>
                            <td class="!sp-border-secondary {% if loop.last %}sp-rounded-b{% endif %}"><code>{{ line }}</code></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>

                <h2>{{ Lang.get('core.data') }}</h2>

                <code>
                    <pre>{{ record.payload_data }}</pre>
                </code>

                {{ View.fireHook('operator.content_inner_end') }}
            </div>

            {{ View.fireHook('operator.content_end') }}
        </div>

        {{ View.fireHook('operator.wrapper_end') }}
    </div>

    {{ View.fireHook('operator.footer') }}

    {% include 'operator.' ~ template ~ '.footer_common' %}

    {{ View.fireHook('operator.body_end') }}

</body>

</html>
