{% extends parent_template %}

{% block title %}
    {{ Lang.get('core.file_manager') }}
{% endblock %}

{% block description %}
    {{ Lang.get('core.file_manager_desc') }}
{% endblock %}

{% block content %}

    <hr />

    <h2>{{ Lang.get('core.app_logs') }}</h2>
    <div class="sp-subtitle-description sp-mb-3">{{ Lang.get('core.app_logs_desc') }}</div>

    {{ appTable.render()|raw }}

    <h2>{{ Lang.get('core.email_logs') }}</h2>
    <div class="sp-subtitle-description sp-mb-3">{{ Lang.get('core.email_logs_desc') }}</div>

    {{ emailTable.render()|raw }}

{% endblock %}

{% block scripts_footer %}
    <script src="{{ asset_rev('resources/assets/libs/datatables/js/jquery.dataTables.min.js') }}"></script>
    {{ appTable.script()|raw }}
    {{ emailTable.script()|raw }}
{% endblock %}
