{% extends parent_template %}

{% block title %}
    {{ Lang.get('core.system_cleanup') }}
{% endblock %}

{% block description %}
    {{ Lang.get('core.system_cleanup_desc') }}
{% endblock %}

{% block precontent %}
    <div class="sp-alert sp-alert-success sp-alert-sticky sp-hidden">
        {{ Lang.get('messages.success_action') }}
    </div>
    <div class="sp-alert sp-alert-error sp-alert-sticky sp-hidden">
        {{ Lang.get('messages.error_action') }}
    </div>
{% endblock %}

{% block content %}

    <hr />

    {{ form_open({'route': 'core.operator.systemcleanup', 'method': 'put', 'class': 'sp-cleanup validate'}) }}

        <h2>{{ Lang.get('core.database') }}</h2>
        <p class="sp-subtitle-description">{{ Lang.get('core.database_desc') }}</p>

        <div class="sp-flex sp-flex-wrap sp--mx-3 sp--mb-6">
            <div class="sp-w-full sp-px-3 sp-mb-6 sm:sp-w-1/2 lg:sp-w-1/3">
                <div class="sp-purge sp-border sp-border-tertiary sp-rounded">
                    <h3 class="sp-px-6 sp-py-3 sp-my-0 sp-bg-secondary sp-rounded-t">{{ Lang.choice('user.user', 2) }}</h3>
                    <div class="sp-p-6">
                        <p class="sp-mt-0">{{ Lang.get('core.prune_users') }}</p>
                        <p><strong>{{ Lang.get('core.total_records') }}</strong>: {{ userCount }}</p>
                        <h4>{{ Lang.get('core.automatically_prune') }}</h4>
                        <div>
                            <label>
                                {{ form_radio('prune_users_enabled', 0, pruneUsers == 0) }}
                                {{ Lang.get('general.never') }}
                            </label><br />
                            <label>
                                {{ form_radio('prune_users_enabled', 1, pruneUsers != 0) }}
                                {{ Lang.get('core.days_after_last_activity') }}
                                {{ form_number('prune_users', pruneUsers != 0 ? pruneUsers : '', {'class': 'sp-w-24', 'min': 0}) }}
                                {{ mb_strtolower(Lang.choice('general.day', 2), 'UTF-8') }}
                            </label>
                        </div>
                        <div class="sp-alert sp-alert-warning sp-alert-bottom">
                            {{ Lang.get('core.record_delete_relations', {relations: userRelations|join(', ')}) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="sp-w-full sp-px-3 sp-mb-6 sm:sp-w-1/2 lg:sp-w-1/3">
                <div class="sp-purge sp-border sp-border-tertiary sp-rounded">
                    <h3 class="sp-px-6 sp-py-3 sp-my-0 sp-bg-secondary sp-rounded-t">{{ Lang.choice('ticket.ticket', 2) }}</h3>
                    <div class="sp-p-6">
                        <p class="sp-mt-0">{{ Lang.get('core.prune_tickets') }}</p>
                        <p><strong>{{ Lang.get('core.total_records') }}</strong>: {{ ticketCount }}</p>
                        <h4>{{ Lang.get('core.automatically_prune') }}</h4>
                        <div>
                            <label>
                                {{ form_radio('prune_tickets_enabled', 0, pruneTickets == 0) }}
                                {{ Lang.get('general.never') }}
                            </label><br />
                            <label>
                                {{ form_radio('prune_tickets_enabled', 1, pruneTickets != 0) }}
                                {{ Lang.get('core.days_after_last_activity') }}
                                {{ form_number('prune_tickets', pruneTickets != 0 ? pruneTickets : '', {'class': 'sp-w-24', 'min': 0}) }}
                                {{ mb_strtolower(Lang.choice('general.day', 2), 'UTF-8') }}
                            </label>
                        </div>
                        <div class="sp-alert sp-alert-warning sp-alert-bottom">
                            {{ Lang.get('core.record_trash_relations', {number: Config.get('app.empty_ticket_trash', 30), relations: ticketRelations|join(', ')}) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="sp-w-full sp-px-3 sp-mb-6 sm:sp-w-1/2 lg:sp-w-1/3">
                <div class="sp-purge sp-border sp-border-tertiary sp-rounded">
                    <h3 class="sp-px-6 sp-py-3 sp-my-0 sp-bg-secondary sp-rounded-t">{{ Lang.choice('user.organisation', 2) }}</h3>
                    <div class="sp-p-6">
                        <p class="sp-mt-0">{{ Lang.get('core.prune_organisations') }}</p>
                        <p><strong>{{ Lang.get('core.total_records') }}</strong>: {{ organisationCount }}</p>
                        <h4>{{ Lang.get('core.automatically_prune') }}</h4>
                        <div>
                            <label>
                                {{ form_radio('prune_organisations_enabled', 0, pruneOrganisations == 0) }}
                                {{ Lang.get('general.never') }}
                            </label><br />
                            <label>
                                {{ form_radio('prune_organisations_enabled', 1, pruneOrganisations != 0) }}
                                {{ Lang.get('core.days_after_last_activity') }}
                                {{ form_number('prune_organisations', pruneOrganisations != 0 ? pruneOrganisations : '', {'class': 'sp-w-24', 'min': 0}) }}
                                {{ mb_strtolower(Lang.choice('general.day', 2), 'UTF-8') }}
                            </label>
                        </div>
                        <div class="sp-alert sp-alert-warning sp-alert-bottom">
                            {{ Lang.get('core.record_permanent_delete', {relations: userRelations|join(', ')}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <h2>{{ Lang.get('core.files') }}</h2>
        <p class="sp-subtitle-description">{{ Lang.get('core.files_desc') }}</p>

        <div class="sp-flex sp-flex-wrap sp--mx-3 sp--mb-6">
            <div class="sp-w-full sp-px-3 sp-mb-6 sm:sp-w-1/2 lg:sp-w-1/3">
                <div class="sp-border sp-border-tertiary sp-rounded">
                    <h3 class="sp-px-6 sp-py-3 sp-my-0 sp-bg-secondary sp-rounded-t">{{ Lang.get('core.system_cache') }}</h3>
                    <div class="sp-p-6">
                        <p class="sp-mt-0">{{ Lang.get('core.system_cache_desc') }}</p>
                        <button class="system-cache" type="button" data-route="{{ route('core.operator.systemcleanup.empty') }}">
                            {{ Lang.get('core.empty') }}
                        </button>
                    </div>
                    <h3 class="sp-px-6 sp-py-3 sp-my-0 sp-bg-secondary">{{ Lang.get('core.template_cache') }}</h3>
                    <div class="sp-p-6">
                        <p class="sp-mt-0">{{ Lang.get('core.template_cache_desc') }}</p>
                        <button class="template-cache" type="button" data-route="{{ route('core.operator.systemcleanup.empty') }}">
                            {{ Lang.get('core.empty') }}
                        </button>
                    </div>
                </div>
            </div>

            <div class="sp-w-full sp-px-3 sp-mb-6 sm:sp-w-1/2 lg:sp-w-1/3">
                <div class="sp-purge sp-border sp-border-tertiary sp-rounded">
                    <h3 class="sp-px-6 sp-py-3 sp-my-0 sp-bg-secondary sp-rounded-t">{{ Lang.choice('general.attachment', 2) }}</h3>
                    <div class="sp-p-6">
                        <p class="sp-mt-0">{{ Lang.get('core.attachments_desc') }}</p>
                        <p><strong>{{ Lang.get('core.total_records') }}</strong>: <span class="attachments count">{{ attachmentCount }}</span></p>
                        <h4>{{ Lang.get('core.automatically_prune') }}</h4>
                        <div>
                            <label>
                                {{ form_radio('prune_attachments_enabled', 0, pruneAttachments == 0) }}
                                {{ Lang.get('general.never') }}
                            </label><br />
                            <label>
                                {{ form_radio('prune_attachments_enabled', 1, pruneAttachments != 0) }}
                                {{ Lang.get('core.days_after_saved') }}
                                {{ form_number('prune_attachments', pruneAttachments != 0 ? pruneAttachments : '', {'class': 'sp-w-24', 'min': 0}) }}
                                {{ mb_strtolower(Lang.choice('general.day', 2), 'UTF-8') }}
                            </label>
                        </div>
                        <h4>{{ Lang.get('core.manually_prune') }}</h4>
                        {{ form_text('date', null, {'class': 'datepicker sp-w-40', 'placeholder': '&#xf073;'}) }}
                        <div class="sp-button-group sp-mt-3">
                            <button class="attachments" type="button" data-route="{{ route('core.operator.systemcleanup.purge') }}">
                                {{ Lang.get('core.prune') }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sp-w-full sp-px-3 sp-mb-6 sm:sp-w-1/2 lg:sp-w-1/3">
                <div class="sp-purge sp-border sp-border-tertiary sp-rounded">
                    <h3 class="sp-px-6 sp-py-3 sp-my-0 sp-bg-secondary sp-rounded-t">{{ Lang.choice('general.export', 2) }}</h3>
                    <div class="sp-p-6">
                        <p class="sp-mt-0">{{ Lang.get('core.prune_export') }}</p>
                        <p><strong>{{ Lang.get('core.total_records') }}</strong>: <span class="exports count">{{ exportCount }}</span></p>
                        <h4>{{ Lang.get('core.automatically_prune') }}</h4>
                        <div>
                            <label>
                                {{ form_radio('prune_exports_enabled', 0, pruneExports == 0) }}
                                {{ Lang.get('general.never') }}
                            </label><br />
                            <label>
                                {{ form_radio('prune_exports_enabled', 1, pruneExports != 0) }}
                                {{ Lang.get('core.days_after_saved') }}
                                {{ form_number('prune_exports', pruneExports != 0 ? pruneExports : '', {'class': 'sp-w-24', 'min': 0}) }}
                                {{ mb_strtolower(Lang.choice('general.day', 2), 'UTF-8') }}
                            </label>
                        </div>
                        <h4>{{ Lang.get('core.manually_prune') }}</h4>
                        {{ form_text('date', null, {'class': 'datepicker sp-w-40', 'placeholder': '&#xf073;'}) }}
                        <div class="sp-button-group sp-mt-3">
                            <button class="exports" type="button" data-route="{{ route('core.operator.systemcleanup.purge') }}">
                                {{ Lang.get('core.prune') }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <h2>{{ Lang.get('core.logs') }}</h2>
        <p class="sp-subtitle-description">{{ Lang.get('core.logs_desc') }}</p>

        <div class="sp-flex sp-flex-wrap sp--mx-3 sp--mb-6">
            <div class="sp-w-full sp-px-3 sp-mb-6 sm:sp-w-1/2 lg:sp-w-1/3">
                <div class="sp-purge sp-border sp-border-tertiary sp-rounded">
                    <h3 class="sp-px-6 sp-py-3 sp-my-0 sp-bg-secondary sp-rounded-t">{{ Lang.get('user.system_activity_log') }}</h3>
                    <div class="sp-p-6">
                        <p class="sp-mt-0">{{ Lang.get('core.system_activity_log_desc') }}</p>
                        <p><strong>{{ Lang.get('core.total_records') }}</strong>: <span class="activity-log count">{{ activityCount }}</span></p>
                        <h4>{{ Lang.get('core.automatically_prune') }}</h4>
                        <div>
                            <label>
                                {{ form_radio('prune_activity_enabled', 0, pruneActivity == 0) }}
                                {{ Lang.get('general.never') }}
                            </label><br />
                            <label>
                                {{ form_radio('prune_activity_enabled', 1, pruneActivity != 0) }}
                                {{ Lang.get('core.days_after_saved') }}
                                {{ form_number('prune_activity', pruneActivity != 0 ? pruneActivity : '', {'class': 'sp-w-24', 'min': 0}) }}
                                {{ mb_strtolower(Lang.choice('general.day', 2), 'UTF-8') }}
                            </label>
                        </div>
                        <h4>{{ Lang.get('core.manually_prune') }}</h4>
                        {{ form_text('date', null, {'class': 'datepicker sp-w-40', 'placeholder': '&#xf073;'}) }}
                        <div class="sp-button-group sp-mt-3">
                            <button class="activity-log" type="button" data-route="{{ route('core.operator.systemcleanup.purge') }}">
                                {{ Lang.get('core.prune') }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sp-w-full sp-px-3 sp-mb-6 sm:sp-w-1/2 lg:sp-w-1/3">
                <div class="sp-purge sp-border sp-border-tertiary sp-rounded">
                    <h3 class="sp-px-6 sp-py-3 sp-my-0 sp-bg-secondary sp-rounded-t">{{ Lang.get('core.email_log') }}</h3>
                    <div class="sp-p-6">
                        <p class="sp-mt-0">{{ Lang.get('core.email_log_desc') }}</p>
                        <p><strong>{{ Lang.get('core.total_records') }}</strong>: <span class="email-log count">{{ emailCount }}</span></p>
                        <h4>{{ Lang.get('core.automatically_prune') }}</h4>
                        <div>
                            <label>
                                {{ form_radio('prune_emails_enabled', 0, pruneEmails == 0) }}
                                {{ Lang.get('general.never') }}
                            </label><br />
                            <label>
                                {{ form_radio('prune_emails_enabled', 1, pruneEmails != 0) }}
                                {{ Lang.get('core.days_after_saved') }}
                                {{ form_number('prune_emails', pruneEmails != 0 ? pruneEmails : '', {'class': 'sp-w-24', 'min': 0}) }}
                                {{ mb_strtolower(Lang.choice('general.day', 2), 'UTF-8') }}
                            </label>
                        </div>
                        <h4>{{ Lang.get('core.manually_prune') }}</h4>
                        {{ form_text('date', null, {'class': 'datepicker sp-w-40', 'placeholder': '&#xf073;'}) }}
                        <div class="sp-button-group sp-mt-3">
                            <button class="email-log" type="button" data-route="{{ route('core.operator.systemcleanup.purge') }}">
                                {{ Lang.get('core.prune') }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sp-w-full sp-px-3 sp-mb-6 sm:sp-w-1/2 lg:sp-w-1/3">
                <div class="sp-purge sp-border sp-border-tertiary sp-rounded">
                    <h3 class="sp-px-6 sp-py-3 sp-my-0 sp-bg-secondary sp-rounded-t">{{ Lang.get('user.operator_login_log') }}</h3>
                    <div class="sp-p-6">
                        <p class="sp-mt-0">{{ Lang.get('core.operator_login_log_desc') }}</p>
                        <p><strong>{{ Lang.get('core.total_records') }}</strong>: <span class="login-log count">{{ loginCount }}</span></p>
                        <h4>{{ Lang.get('core.automatically_prune') }}</h4>
                        <div>
                            <label>
                                {{ form_radio('prune_logins_enabled', 0, pruneLogins == 0) }}
                                {{ Lang.get('general.never') }}
                            </label><br />
                            <label>
                                {{ form_radio('prune_logins_enabled', 1, pruneLogins != 0) }}
                                {{ Lang.get('core.days_after_saved') }}
                                {{ form_number('prune_logins', pruneLogins != 0 ? pruneLogins : '', {'class': 'sp-w-24', 'min': 0}) }}
                                {{ mb_strtolower(Lang.choice('general.day', 2), 'UTF-8') }}
                            </label>
                        </div>
                        <h4>{{ Lang.get('core.manually_prune') }}</h4>
                        {{ form_text('date', null, {'class': 'datepicker sp-w-40', 'placeholder': '&#xf073;'}) }}
                        <div class="sp-button-group sp-mt-3">
                            <button class="login-log" type="button" data-route="{{ route('core.operator.systemcleanup.purge') }}">
                                {{ Lang.get('core.prune') }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sp-form-button sp-fixed-bottom">
            {{ form_submit(Lang.get('general.save')) }}
        </div>

    {{ form_close() }}

{% endblock %}

{% block scripts_footer %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('form.sp-cleanup button').on('click', function() {
                // Get name and date if needed
                var name = $(this).attr('class');
                var date = null;
                if ($(this).parents('.sp-purge').find('.datepicker').length) {
                    date = $(this).parents('.sp-purge').find('.datepicker').val();
                }

                // Make AJAX call
                $.ajax({
                    url: $(this).data('route'),
                    type: 'POST',
                    data: {
                        name: name,
                        date: date
                    },
                    dataType: 'json'
                }).done(function(response) {
                    if (response.status == 'success') {
                        $('.sp-alert.sp-alert-success').show(500).delay(5000).hide(500);
                        if (response.data != 'undefined') {
                            // Update count
                            $('.' + name + '.count').text(response.data);
                        }
                    } else {
                        $('.sp-alert.sp-alert-error').show(500).delay(5000).hide(500);
                    }
                }).fail(function() {
                    $('.sp-alert.sp-alert-error').show(500).delay(5000).hide(500);
                });

            });

            // Date picker
            $('.datepicker').datepicker();
        });
    </script>
{% endblock %}