<form class="message-form edit" data-route="{{ route('ticket.operator.message.update', message.id) }}">

    {{ form_hidden('ticket_id', message.ticket_id) }}

    {{ form_redactor('text', message.purified_text, {'id': 'message-' ~ message.id}) }}

    <div class="sp-mt-4">
        {{ form_submit(Lang.get('general.save')) }}
        {{ form_button(Lang.get('general.cancel'), {'class': 'edit-button sp-ml-3'}) }}
    </div>

</form>