{% extends parent_template %}

{% block sidebar %}
    {% include 'operator.' ~ template ~ '.settings_sidebar' %}
{% endblock %}

{% block title %}
    {{ Lang.get('general.edit_item', {'item': Lang.get('user.operator_notifications')}) }} - {{ record.formatted_name }}
{% endblock %}

{% block description %}
    {{ Lang.get('user.operator_notifications_desc') }}
{% endblock %}

{% block content %}

    {{ form_model(record, {'route': ['user.operator.operatornotification.update', record.id], 'method': 'PUT', 'class': 'validate'}) }}

        <div class="sp-form-container">
            {% include 'operator.' ~ template ~ '.user.forms.operator_notifications_settings' with {preview: record.id is same as(auth_user().id)} %}
        </div>

        <div class="sp-form-button">
            {{ form_submit(Lang.choice("general.submit", 1)) }}
        </div>

    {{ form_close() }}

{% endblock %}

{% block scripts_footer %}
    {% if jsValidator|default is not empty %}
        {{ jsValidator|raw }}
    {% endif %}

    <!-- Department subscriptions -->
    <script src="{{ asset_rev('resources/assets/libs/datatables/js/jquery.dataTables.min.js') }}"></script>
    {{ departmentSubscriptionsTable.script()|raw }}
    <script src="{{ asset_rev('resources/assets/operator/js/departmentsubscriptions.js') }}"></script>

    <script>
        $(function () {
            App.Notifications.registerPreviewHandlers();
        });
    </script>
{% endblock %}
