{% extends parent_template %}

{% block title %}
    {{ record.name }} - {{ Lang.choice('user.user', 2) }}
{% endblock %}

{% block precontent %}
    <div class="sp-alert sp-alert-success sp-alert-sticky sp-hidden sp-organisation-update">
        {{ Lang.get('messages.success_updated', {'item': mb_strtolower(Lang.choice('user.organisation', 1), 'UTF-8')}) }}
    </div>
    <div class="sp-alert sp-alert-error sp-alert-sticky sp-hidden sp-organisation-update">
        {{ Lang.get('messages.error_updated', {'item': mb_strtolower(Lang.choice('user.organisation', 1), 'UTF-8')}) }}
    </div>
{% endblock %}

{% block content %}

    {% include 'operator.' ~ template ~ '.user.forms.organisation_tabs' %}

    <h2>{{ Lang.get('user.user_membership') }}</h2>

    <div class="sp-subtitle-description">
        {{ Lang.get('user.organisation_desc')|raw }} {{ Lang.get('user.organisation_operator_desc') }}
    </div>

    {{ table.render('operator.' ~ template ~ '.datatables')|raw }}

    <hr />

    <h2>{{ Lang.get('user.transfer_ownership') }}</h2>

    <div class="sp-subtitle-description">
        {{ Lang.get('user.transfer_ownership_operator') }}
    </div>

    {{ form_model(record, {'route': [ 'user.operator.organisation.transferOwnership', record.id ], 'method': 'POST'}) }}

        <div class="sp-form-container">
            <div class="sp-form-row">
                {{ form_label('owner', Lang.get('user.new_owner')) }}
                <div class="sp-input-container">
                    <select name="owner" placeholder="{{ Lang.get('user.start_typing_name') }}">
                        <option value=''></option>
                    </select>
                </div>
            </div>
        </div>

        <div class="sp-form-button">
            {{ form_submit(Lang.get('general.transfer')) }}
        </div>

    {{ form_close() }}

{% endblock %}

{% block scripts_footer %}
    <script src="{{ asset_rev('resources/assets/libs/datatables/js/jquery.dataTables.min.js') }}"></script>
    {{ table.script()|raw }}

    <script>
        $(document).ready(function() {
            const id = '{{ record.id }}';
            const $table = $('#usersTable');

            $table
                .on('draw.dt', function () {
                    selectize();
                })
                .on('change', '.access-level', function () {
                    var $this = $(this);
                    $this.prop('disabled', true);

                    $.post(
                        laroute.route('user.operator.organisation.set_access_level', {'id': id}),
                        {user: $this.data('id'), access_level: $(this).val()},
                        function (response) {
                            if (response.status === 'success') {
                                $('.sp-organisation-update.sp-alert-success').show(500).delay(5000).hide(500);
                            } else {
                                $('.sp-organisation-update.sp-alert-error').show(500).delay(5000).hide(500);
                            }
                        }
                    ).fail(function () {
                        $('.sp-organisation-update.sp-alert-error').show(500).delay(5000).hide(500);
                    }).always(function () {
                        $this.prop('disabled', false);
                    });
                })
                .on('click', '.remove-button', function() {
                    const params = {
                        translationKeys: {
                            title: 'user.remove_from',
                            warning: 'user.remove_from_warn',
                            confirmButton: '{{ Lang.get('general.yes') }}',
                            cancelButton: '{{ Lang.get('general.no') }}'
                        },
                        ajax: {
                            url: laroute.route('user.operator.organisation.removeUser', {id: id}),
                            data: {  user: $(this).data('user') }
                        }
                    };

                    (new deleteAlert(params))
                        .fireDefault(Lang.choice('user.organisation', 1), $(this).data('name'))
                        .then(function (result) {
                            if (result.value) {
                                Swal.fire(
                                    Lang.get('messages.deleted'),
                                    Lang.get('messages.success_deleted', { 'item': Lang.choice('user.user', 1) }),
                                    'success'
                                );

                                $table.dataTable().api().ajax.reload(null, false);
                            }
                        });
                })
                .on('click', '.add-user', function () {
                    const $row = $(this).parents('tr');
                    const route = '{{ route('user.operator.organisation.add', {id: record.id}) }}';
                    const data = {
                        user_id: $row.find('select[name="user"]').val(),
                        access_level: $row.find('select[name="access_level"]').val(),
                    };

                    $.post(route, data)
                        .done(function (response) {
                            if (response.status === 'success') {
                                $('.sp-organisation-update.sp-alert-success').show(500).delay(5000).hide(500);

                                $table.dataTable().api().ajax.reload(null, false);
                            } else {
                                $('.sp-organisation-update.sp-alert-error').show(500).delay(5000).hide(500);
                            }
                        })
                        .fail(function () {
                            $('.sp-organisation-update.sp-alert-error').show(500).delay(5000).hide(500);
                        });
                });

            // Change owner
            $('select[name="owner"]').selectize({
                valueField: 'id',
                searchField: [ 'formatted_name', 'email' ],
                create: false,
                render: {
                    item: function(item, escape) {
                        return '<div class="item">' +
                            '<img class="sp-avatar sp-max-w-2xs" src="' + escape(item.avatar_url) + '" />&nbsp; '
                            + escape(item.formatted_name)
                            + (item.email ? ' <span class="sp-description">' + escape('<' + item.email + '>') + '</span>' : '')
                            + '</div>';
                    },
                    option: function(item, escape) {
                        return '<div>' +
                            '<img class="sp-avatar sp-max-w-2xs" src="' + escape(item.avatar_url) + '" />&nbsp; '
                            + escape(item.formatted_name)
                            + (item.email ? ' <span class="sp-description">' + escape('<' + item.email + '>') + '</span>' : '')
                            + '</div>';
                    }
                },
                load: function (query, callback) {
                    if (! query.length) {
                        return callback();
                    }

                    $.get(laroute.route('user.operator.organisation.searchTransferOwnership', {id: id}), {q: query})
                        .done(function (response) {
                            callback(response.data);
                        })
                        .fail(function (response) {
                            callback();
                        });
                }
            });

        });

        function selectize() {
            $('select[name="user"]:visible').selectize({
                valueField: 'id',
                labelField: 'formatted_name',
                searchField: [ 'formatted_name', 'email' ],
                options: [],
                create: false,
                placeholder: Lang.get('user.search_for_user'),
                render: {
                    item: function(item, escape) {
                        return '<div class="item">' +
                            '<img class="sp-avatar sp-max-w-2xs" src="' + escape(item.avatar_url) + '" />&nbsp; '
                            + escape(item.formatted_name)
                            + (item.email ? ' <span class="sp-description">' + escape('<' + item.email + '>') + '</span>' : '')
                            + '</div>';
                    },
                    option: function(item, escape) {
                        return '<div>' +
                            '<img class="sp-avatar sp-max-w-2xs" src="' + escape(item.avatar_url) + '" />&nbsp; '
                            + escape(item.formatted_name)
                            + (item.email ? ' <span class="sp-description">' + escape('<' + item.email + '>') + '</span>' : '')
                            + '</div>';
                    }
                },
                load: function(query, callback) {
                    if (!query.length) return callback();
                    $.ajax({
                        url: laroute.route('user.operator.organisation.search'),
                        type: 'GET',
                        dataType: 'json',
                        data: {
                            q: query,
                            org_id: '{{ record.id }}'
                        },
                        error: function() {
                            callback();
                        },
                        success: function(res) {
                            callback(res.data);
                        }
                    });
                }
            });
        }
    </script>
{% endblock %}
