<div class="sp-phone-number {% if hide|default is not empty %}sp-hidden{% endif %}">
    <div class="sp-flex">
        <div class="sp-flex-initial">
            {{ form_hidden('phone[' ~ (number|default is not empty ? number.id : '') ~ '][id]', number|default is not empty ? number.id : null) }}

            {{ form_tel('phone[' ~ (number|default is not empty ? number.id : '') ~ '][number]', number|default is not empty ? number.number : null, number|default is not empty ? {'readonly': 'readonly'} : {}) }}
        </div>

        <div class="sp-flex-none sp-relative sp-ml-2">
            <div class="sp-dropdown-container">
                <span class="sp-action sp-button sp-px-3">
                    <i class="fas fa-ellipsis-v"></i>
                </span>
                <div class="sp-dropdown sp-right-0 md:sp-right-auto">
                    <ul class="sp-text-right md:sp-text-left">
                        {% if number|default is not empty and not number.is_verified %}
                            <li>
                                <a class="sp-mark-number-verified" data-id="{{ number.id }}" data-route="{{ route('user.operator.user.mark_number_verified', record.id) }}">
                                    {{ Lang.get('general.mark_as_verified') }}
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <a class="sp-remove-number">{{ Lang.get('general.remove') }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        {% if number|default is not empty and not number.is_verified %}
            <div class="sp-number-not-verified sp-flex-none sp-relative sp-p-2 sp-pr-0 sp-text-orange-600">
                <i class="fa-fw fa-solid fa-exclamation-circle" title="{{ Lang.get('general.not_verified') }}"></i>
            </div>
        {% endif %}
    </div>
</div>
