<!DOCTYPE html>
<html class="{{ get_template_mode() }}" dir="{{ get_template_dir() }}" lang="{{ App.getLocale() }}">

<head>
    {{ View.fireHook('operator.head_start') }}

    <meta name="notes-url-id" content="{{ notesUrlId }}" />
    <meta name="timeline-url-id" content="{{ timelineUrlId }}" />

    <title>{{ ticket.subject }}</title>

    {% include 'operator.' ~ template ~ '.head_common' %}

    {{ View.fireHook('operator.head') }}
    {{ View.fireHook('operator.head_end') }}
</head>

<body class="sp:bg-secondary sp:text-primary sp:print:bg-primary" data-disable-pace>

    {{ View.fireHook('operator.body_start') }}

    <div class="sp:wrap-break-word sp:xs:p-6 sp:print:p-0">
        {{ View.fireHook('operator.wrapper_start') }}

        <!-- Success / failure message box -->
        <div class="sp-alert sp:hidden"></div>

        <div class="sp-all-attachments sp-alert sp-alert-info sp:hidden">
            {{ Lang.get('ticket.downloading') }}
        </div>

        {% if not Request.has('print') %}
            <button class="print-button sp-button-submit sp:ms-3 sp:float-end sp:print:hidden">
                <i class="fa-solid fa-print"></i>&nbsp; {{ Lang.get('general.print') }}
            </button>
        {% endif %}

        <h2 class="sp:ms-4 sp:mt-0 sp:text-primary sp:xs:ms-0">{{ ticket.subject }}</h2>

        {% if Request.has('print') %}
            {% include 'operator.' ~ template ~ '.ticket.ticket_print_metadata' %}

            <div class="sp:flex sp:px-4 sp:py-2 sp:mt-6 sp:mb-1 sp:bg-tertiary sp:rounded-none sp:xs:rounded">
                <h3 class="sp:grow sp:m-0">{{ Lang.choice('general.message', 1) }}</h3>
            </div>
        {% endif %}

        <div>
            {{ View.fireHook('operator.content_start') }}

            <div class="sp-messages-container">
                {{ View.fireHook('operator.content_inner_start') }}

                {% include 'operator.' ~ template ~ '.ticket.message' with {unread: true, canUpdateTicket: false} %}

                {{ View.fireHook('operator.content_inner_end') }}
            </div>

            {{ View.fireHook('operator.content_end') }}
        </div>

        {{ View.fireHook('operator.wrapper_end') }}
    </div>

    {{ View.fireHook('operator.footer') }}

    {% include 'operator.' ~ template ~ '.footer_common' %}

    <!-- Attachments: dependencies = sweet alerts and jquery fileupload -->
    <script src="{{ asset_rev('resources/assets/dist/fileupload.min.js') }}"></script>

    <!-- Attachment previews -->
    <script src="{{ asset_rev('resources/assets/libs/att.preview/js/att.preview.min.js') }}"></script>

    <script src="{{ asset_rev('resources/assets/dist/ticket-view.js') }}"></script>
    <script>
        var replyOrder = '{{ auth_user().isAscendingReplyOrder() ? 'ASC' : 'DESC' }}';
        App.extend('OperatorTicketView', new SpTicket.OperatorTicket(
            "{{ auth_user().id }}",
            replyOrder,
            {{ Config.get('settings.default_resolved_status') }},
            {{ ticket.department.email_templates|json_encode()|raw }},
        ));
        App.extend('TicketView', new SpTicket.TicketView(
            App.OperatorTicketView,
            "{{ ticket.id }}",
            {{ Config.get('settings.ticket_notes_position') }},
            replyOrder
        ));
    </script>

    <script src="{{ asset_rev('resources/assets/operator/js/ticket.js') }}"></script>

    <script>
        var ticket = new App.ticket({authUserId: "{{ auth_user().id }}"});

        $(document).ready(function() {
            App.OperatorTicketView.initMessage($('.sp-message'));

            {% if Request.has('print') %}
                window.print();
            {% endif %}

            // Show print dialog when clicking the "Print" button.
            $('.print-button').on('click', function () {
                window.print();
            });

            // Hide collapsed section headers in print view.
            $('.sp-collapsible').on('click', function () {
                $(this).toggleClass('sp:print:hidden');
            });
        });
    </script>

    {{ View.fireHook('operator.body_end') }}

</body>

</html>
