{% extends parent_template %}

{% block sidebar %}
    {% include 'operator.' ~ template ~ '.settings_sidebar' %}
{% endblock %}

{% block title %}
    {{ Lang.choice("ticket.macro", 2) }}
{% endblock %}

{% block precontent %}
    <div class="sp-quick-actions">
        <ul>
            <li class="sp-action-group sp-inline-block">
                <a href="{{ route('ticket.operator.macro.create', {'type': type}) }}" class="sp-action sp-button">
                    <i class="fas fa-plus"></i>&nbsp; {{ Lang.get('general.add') }}
                </a><!--
                --><button class="sp-action sp-filter-grid">
                    <i class="fas fa-filter"></i>&nbsp; {{ Lang.get('general.filter') }}
                </button>
            </li>
        </ul>
    </div>

    <div class="sp-alert sp-alert-success sp-alert-sticky sp-hidden ordering">
        {{ Lang.get('messages.success_ordering') }}
    </div>
    <div class="sp-alert sp-alert-error sp-alert-sticky sp-hidden ordering">
        {{ Lang.get('messages.error_ordering') }}
    </div>
{% endblock %}

{% block content %}

    <ul class="sp-tabs">
        <li {% if type == 0 %}class="sp-active"{% endif %}>
            <a href="{{ type == 0 ? '#' : route('ticket.operator.macro.index') }}">{{ Lang.get('general.manual') }}</a>
        </li>
        <li {% if type == 2 %}class="sp-active"{% endif %}>
            <a href="{{ type == 2 ? '#' : route('ticket.operator.macro.index', {'grid': 'automatic'}) }}">{{ Lang.get('general.automatic') }}</a>
        </li>
        <li {% if type == 1 %}class="sp-active"{% endif %}>
            <a href="{{ type == 1 ? '#' : route('ticket.operator.macro.index', {'grid': 'hook'}) }}">{{ Lang.get('general.hook') }}</a>
        </li>
    </ul>

    <div class="sp-filter-results sp-hidden">
        <h3>{{ Lang.get('general.filter_results') }}</h3>

        <div class="sp-table">
            <div class="sp-table-row">
                <label>{{ Lang.get('general.name') }}:</label>
                <div id="filter_name"></div>
            </div>
            <div class="sp-table-row">
                <label>{{ Lang.get('general.description') }}:</label>
                <div id="filter_description"></div>
            </div>
            <div class="sp-table-row">
                <label>{{ Lang.get('general.enabled') }}:</label>
                <div id="filter_enabled"></div>
            </div>
        </div>
    </div>

    {{ table.render()|raw }}

    <div class="sp-alert sp-alert-info sp-alert-bottom" id="dndOrderNote">
        {% if type == 0 %}
            <strong>{{ Lang.choice('general.note', 1) }}:</strong> {{ Lang.get('ticket.macro_order_drag') }}
        {% else %}
            <strong>{{ Lang.choice('general.note', 1) }}:</strong>
            {{ Lang.get('ticket.macro_order_processed', {
                'type': type == 1 ? Lang.get('general.hook') : Lang.get('general.automatic')
            }) }} {{ Lang.get('ticket.macro_order_drag') }}
        {% endif %}
    </div>

{% endblock %}

{% block scripts_footer %}
    <script src="{{ asset_rev('resources/assets/libs/datatables/js/jquery.dataTables.min.js') }}"></script>
    {{ table.script()|raw }}

    <!-- Filtering the table -->
    <script type="text/javascript">
        $(document).ready(function() {
            oTable.yadcf([
                {column_number : 0, column_data_type: "text", filter_container_id: "filter_name", filter_type: "text", filter_delay: 500, filter_reset_button_text: ''},
                {column_number : 1, filter_container_id: "filter_description", filter_type: "text", filter_delay: 500, filter_reset_button_text: ''},
                {column_number : 2, filter_container_id: "filter_enabled", filter_reset_button_text: ''}
            ]);
        });
    </script>
{% endblock %}
