<div class="sp-flex">
    <div class="sp-flex-initial sp-hidden sp-mr-4 md:sp-block">
        <img src="{{ message.user.avatar_url }}" class="sp-avatar sp-max-w-md" />
    </div>
    <div class="sp-flex-grow">
        <div class="sp-message-header">
            <span class="sp-name sp-text-lg {% if message.by == 0 %}sp-text-red-600{% else %}sp-text-green-600{% endif %}" data-email="{{ message.user.email }}">
                {{ message.user.formatted_name }}
            </span>
            {% if not message.attachments.isEmpty() %}
                <span class="sp-attachment sp-description">&nbsp; <i class="fas fa-paperclip"></i></span>
            {% endif %}
            <span class="sp-relative sp-float-right print:sp-hidden">
                {% if canUpdateTicket is not defined %}
                    {% set canUpdateTicket = can_update_ticket(auth_user(), ticket) %}
                {% endif %}
                {% if canUpdateTicket %}
                    <span class="split-ticket sp-hidden">
                        {{ form_check('split', 1, false, {'data-id': message.id}) }} &nbsp;
                    </span>

                    <div class="sp-hidden md:sp-inline-block">
                        <button class="as-link quote-message" data-id="{{ message.id }}">
                            <i class="fas fa-quote-right" aria-hidden="true"></i>
                        </button>
                        &nbsp;&nbsp;
                        <button class="as-link edit-button" data-id="{{ message.id }}">
                            <i class="fas fa-edit" aria-hidden="true"></i>
                        </button>
                        &nbsp;&nbsp;
                    </div>

                    <div class="sp-message-actions sp-dropdown-container">
                        <span class="sp-action">
                            <i class="fas fa-ellipsis-h"></i>
                        </span>
                        <div class="sp-dropdown sp-right-0">
                            <ul class="sp-text-right">
                                <li class="md:sp-hidden">
                                    <a class="edit-button">{{ Lang.get('general.edit_item', {'item': mb_strtolower(Lang.choice('general.message', 1))}) }}</a>
                                </li>
                                <li class="md:sp-hidden">
                                    <a class="quote-message" data-id="{{ message.id }}">{{ Lang.get('core.quote') }}</a>
                                </li>
                                <li>
                                    <a class="print-message" href="{{ route('ticket.operator.message.show', {'id': message.id, 'print': '1'}) }}"
                                       target="_blank">
                                        {{ Lang.get('general.print') }}
                                    </a>
                                </li>
                                <li>
                                    <a class="link-message">{{ Lang.get('ticket.copy_link') }}</a>
                                </li>
                                <li>
                                    <a class="forward-message">{{ Lang.get('ticket.forward_message') }}</a>
                                </li>
                                <li>
                                    <a class="forward-from-here">{{ Lang.get('ticket.forward_from_here') }}</a>
                                </li>
                                <li>
                                    <a class="link-ticket" data-href="{{ route('ticket.operator.ticket.createStep1', {'link_message': message.id}) }}">
                                        {{ Lang.get('ticket.create_linked_ticket') }}
                                    </a>
                                </li>
                                <li>
                                    <a class="delete-confirm" data-route="{{ route('ticket.operator.message.destroy', [ message.id ]) }}"
                                       data-id="{{ message.id }}">
                                        {{ Lang.get('ticket.delete_message') }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </span>
            <div class="sp-description">
                {% if message.type == 2 %}
                    {{ Lang.get('ticket.forwarded_to') }} <strong>{{ message.getForwardRecipients() }}</strong>
                    {% set emaillog = message.emaillog.where('type', 0).first() %}
                    {% if emaillog is not null %}
                    &nbsp;(<a href="{{ route('core.operator.emaillog.show', [ emaillog.id ]) }}" target="_blank">{{ Lang.get('user.view_email') }}</a>)
                {% endif %}
                {% else %}
                    {% if message.by == 0 %}
                        {{ Lang.get('general.staff') }}
                        {% if message.type == 1 %}({{ Lang.choice('general.note', 1) }}){% endif %}
                    {% else %}
                        {{ Lang.choice('user.user', 1) }}
                    {% endif %}
                {% endif %}
                &nbsp;&middot;&nbsp; {{ timeago(message.created_at) }}
                    <div class="sp-message-edit-history sp-inline-block">
                        {% if editHistory.get(message.id) is not null %}
                            {% include 'operator.' ~ template ~ '.ticket.message_edit_history' with {edit: editHistory.get(message.id)} %}
                        {% endif %}
                    </div>
                &nbsp;&middot;&nbsp; {{ Lang.get('ticket.via_channel', {'channel': message.channel.formatted_name}) }}
                {% set emaillog = message.emaillog.where('type', '!=', 0).first() %}
                {% if emaillog is not null %}
                    <div class="sp-dropdown-container">
                        <span class="sp-action">
                            ({{ Lang.get('general.show_details') }})
                        </span>
                        <div class="sp-dropdown sp-cursor-auto">
                            <ul>
                                {% if emaillog.to is not empty %}
                                    <li class="sp-dropdown-item">
                                        <label>{{ Lang.get('ticket.to') }}</label>
                                        <div class="sp-text-primary">{{ emaillog.to|join(', ') }}</div>
                                    </li>
                                {% endif %}
                                {% if emaillog.cc is not empty %}
                                    <li class="sp-dropdown-item">
                                        <label>{{ Lang.get('ticket.cc') }}</label>
                                        <div class="sp-text-primary">{{ emaillog.cc|join(', ') }}</div>
                                    </li>
                                {% endif %}
                                <li class="sp-dropdown-item">
                                    <label>{{ Lang.get('ticket.from') }}</label>
                                    <div class="sp-text-primary">
                                        {{ emaillog.from_name ~ ' <' ~ emaillog.from_address ~ '>' }}
                                    </div>
                                </li>
                                {% if auth_user().hasPermission('view.emaillog') %}
                                    <li>
                                        <a href="{{ route('core.operator.emaillog.show', [ emaillog.id ]) }}" target="_blank">
                                            {{ Lang.get('user.view_email') }}
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
