{% if not message.attachments.isEmpty() %}
    <div class="sp:print:hidden">
        <ul class="sp-attachments">
            {% for attachment in message.attachments %}
                <li data-download-url="{{ attachment.direct_operator_url }}" data-filename="{{ attachment.original_name }}">
                    <a class="{% if attachment.upload.isPreviewableVideo() or attachment.upload.isPreviewableAudio() or attachment.upload.isPreviewableImage() %}sp-attachment-preview {% endif %}"
                        {% if attachment.upload.isPreviewable() %}
                            data-download-url="{{ attachment.direct_operator_url }}"
                            {% if attachment.upload.isPreviewableVideo() or attachment.upload.isPreviewableAudio() %}
                                data-video='{"source": [{"src":"{{ attachment.previewOperatorUrl(true) }}", "type":"{{ attachment.upload.mime }}"}], "attributes": {"preload": false, "controls": true}}'
                            {% else %}
                                href="{{ attachment.previewOperatorUrl(true) }}"
                                {% if not attachment.upload.isPreviewableImage() %}target="_blank"{% endif %}
                            {% endif %}
                        {% else %}
                            href="{{ attachment.direct_operator_url }}"
                        {% endif %}>
                        <div class="sp-attachment-icon">
                            <div class="fiv-viv fiv-icon-{{ attachment.upload.icon }} sp:text-xl"></div>
                        </div>
                        <div class="sp-attachment-name" data-filename="{{ attachment.original_name }}">
                            {{ attachment.original_name }}
                        </div>
                        <div class="sp-attachment-size sp-description">{{ attachment.upload.size }}</div>
                    </a>
                    <div class="sp-delete-attachment"
                         data-url="{{ route('ticket.operator.attachment.destroy') }}"
                         data-attachment-id="{{ attachment.id }}"
                         data-size="{{ attachment.upload.getRawOriginal('size') }}"
                         data-hash="{{ attachment.upload_hash }}"
                         title="{{ Lang.get('general.delete') }}">
                        <i class="fa-solid fa-times"></i>
                    </div>
                </li>
            {% endfor %}

            <li>
                <button class="sp-download-all sp-button-sm" style="display: none;" title="{{ Lang.get('general.download_all') }}">
                    <i class="fa-solid fa-download sp:text-secondary sp:hover:text-primary"></i>
                    <span class="sp:hidden sp:md:inline">&nbsp;{{ Lang.get('general.download_all') }}</span>
                </button>
            </li>
        </ul>
    </div>

    <div class="sp:p-3 sp:xl:px-4 sp:hidden sp:print:block">
        <h4 class="sp:m-0">{{ Lang.choice('general.attachment', 2) }}</h4>

        <ul>
            {% for attachment in message.attachments %}
                <li>
                    <a href="{{ attachment.direct_operator_url }}">{{ attachment.original_name }}</a>
                    <span class="sp-description">({{ attachment.upload.size }})</span>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
