<!DOCTYPE html>
<html class="{{ get_template_mode() }}" dir="{{ get_template_dir() }}" lang="{{ App.getLocale() }}">

<head>
    {{ View.fireHook('operator.head_start') }}

    <title>{{ ticket.subject }}</title>

    <meta name="notes-url-id" content="{{ notesUrlId }}" />
    <meta name="timeline-url-id" content="{{ timelineUrlId }}" />

    {% include 'operator.' ~ template ~ '.head_common' %}

    {{ View.fireHook('operator.head') }}
    {{ View.fireHook('operator.head_end') }}
</head>

<body class="sp:bg-secondary sp:text-primary sp:print:bg-primary" data-disable-pace>

    {{ View.fireHook('operator.body_start') }}

    <div class="sp:wrap-break-word sp:xs:px-6 sp:print:p-0">
        {{ View.fireHook('operator.wrapper_start') }}

        <div class="sp:mx-auto sp:mt-6 sp:xs:mb-6">
            {{ View.fireHook('operator.content_start') }}
            {{ View.fireHook('operator.content_inner_start') }}

            <!-- Success / failure message box -->
            <div class="sp-alert sp:hidden"></div>

            <h2 class="sp:ms-4 sp:text-primary sp:xs:ms-0">{{ ticket.subject }}</h2>

            {% include 'operator.' ~ template ~ '.ticket.ticket_print_metadata' %}

            <div class="sp-collapsible sp:flex sp:bg-tertiary sp:mt-6 sp:mb-1 sp:rounded-none sp:xs:rounded">
                <h3 class="sp:grow sp:m-0">{{ Lang.get('general.activity') }}</h3>

                {% include 'operator.' ~ template ~ '.ticket.ticket_filter_timeline' %}

                <div class="sp-chevron sp:ms-3 sp:print:hidden">
                    <i class="fa-solid fa-chevron-down" aria-hidden="true"></i>
                </div>
            </div>

            <div class="sp-messages-container" data-position="inline">
                <div class="sp-loading sp:p-3 sp:mx-6 sp:bg-secondary sp:rounded sp:text-center">
                    <i class="fa-solid fa-spinner fa-pulse"></i>
                    {{ Lang.get('general.loading') ~ '...'  }}
                </div>
            </div>

            {{ View.fireHook('operator.content_inner_end') }}
            {{ View.fireHook('operator.content_end') }}
        </div>

        {{ View.fireHook('operator.wrapper_end') }}
    </div>

    {{ View.fireHook('operator.footer') }}

    {% include 'operator.' ~ template ~ '.footer_common' %}

    <!-- WYSIWYG Editor -->
    <script src="{{ asset_rev('resources/assets/libs/editor.min.js') }}"></script>

    <!-- File upload -->
    <script src="{{ asset_rev('resources/assets/dist/fileupload.min.js') }}"></script>

    <!-- Attachment previews -->
    <script src="{{ asset_rev('resources/assets/libs/att.preview/js/att.preview.min.js') }}"></script>

    <!-- Custom fields -->
    <script src="{{ asset_rev('resources/assets/general/js/customfields.js') }}"></script>

    <script src="{{ asset_rev('resources/assets/dist/ticket-view.js') }}"></script>
    <script>
        Swal.showLoading();
        var replyOrder = '{{ auth_user().isAscendingReplyOrder() ? 'ASC' : 'DESC' }}';
        App.extend('OperatorTicketView', new SpTicket.OperatorTicket(
            "{{ auth_user().id }}",
            replyOrder,
            {{ Config.get('settings.default_resolved_status') }},
            {{ ticket.department.email_templates|json_encode()|raw }},
        ));
        App.extend('TicketView', new SpTicket.TicketView(
            App.OperatorTicketView,
            "{{ ticket.id }}",
            2, // Show all messages
            replyOrder
        ));
        App.TicketView.setPrinting(true);
        App.TicketView.load(function() {
            // After initial messages are loaded, load all collapsed sections and then print
            App.TicketView.loadAllCollapsedSections().always(function() {
                App.OperatorTicketView.print();
            });
        });
    </script>

    <script src="{{ asset_rev('resources/assets/operator/js/ticket.js') }}"></script>
    <script>
        var ticket = new App.ticket({authUserId: "{{ auth_user().id }}"});

        $(document).ready(function() {
            App.OperatorTicketView.initMessage($('.sp-message'));

            // Date picker
            $('.datepicker').datepicker();

            // Timepicker
            $('.timepicker').timepicker();

            // Hide collapsed section headers in print view.
            $('.sp-collapsible').on('click', function () {
                $(this).toggleClass('sp:print:hidden');
            });

            // Prevent .sp-collapsible from collapsing when clicking on .sp-filter-timeline
            $('.sp-collapsible').on('click', function (e) {
                if ($(e.target).closest('.sp-filter-timeline').length > 0) {
                    e.stopPropagation();
                    $('.sp-filter-timeline .sp-dropdown').toggle();
                }
            });
        });
    </script>

    {{ View.fireHook('operator.body_end') }}

</body>

</html>
