<div class="section-item sp-form-container sp-border-t-0 {% if hide|default is not empty %}sp-hidden{% endif %}">

    <div class="sp-form-row">
        {{ form_label('template[' ~ brand.id ~ '][' ~ language_code ~ '][language]', Lang.choice('general.language', 1)) }}
        <div class="sp-input-container">
            {{
                form_hidden(
                    'template[' ~ brand.id ~ '][' ~ language_code ~ '][language]',
                    language_code,
                    hide|default is not empty ? { 'disabled': 'disabled' } : []
                )
            }}

            <span class="item-type">
                {% if email_template.language.name is empty %}
                    -- {{ Lang.get('general.any') }} --
                {% else %}
                    {{ email_template.language.name }}
                {% endif %}
            </span> &nbsp;

            <!-- Only don't show on default brand, -- Any -- department -->
            {{ form_button(Lang.get('general.remove'),
                { 'class': 'remove-button' ~ (brand.id == 'Default' and email_template.language.name is empty ? ' sp-hidden' : '') }
            ) }}
        </div>
    </div>

    <div class="sp-form-row sp-form-full">
        {{ form_label('template[' ~ brand.id ~ '][' ~ language_code ~ '][subject]', Lang.get('core.email_subject')) }}
        <div class="sp-input-container">
            {{
                form_text(
                    'template[' ~ brand.id ~ '][' ~ language_code ~ '][subject]',
                    email_template.subject,
                    hide|default is not empty ? { 'disabled': 'disabled' } : []
                )
            }}
            {% if showSubjectWarning %}
                <div class="sp-alert sp-alert-warning sp-alert-bottom">
                    <strong>{{ Lang.get('messages.warning') }}!</strong> - {{ Lang.get('core.ticket_number_missing')|raw }}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="sp-form-row sp-form-full" data-brand="{{ brand.id }}">
        {{ form_label('template[' ~ brand.id ~ '][' ~ language_code ~ '][contents]', Lang.get('core.email_content')) }}
        <div class="sp-input-container">
            {{
                form_source_code(
                    'template[' ~ brand.id ~ '][' ~ language_code ~ '][contents]',
                    email_template.contents,
                    hide|default is not empty ? { 'disabled': 'disabled' } : []
                )
            }}
        </div>
    </div>

</div>