{% extends parent_template %}

{% block sidebar %}
    {% include 'operator.' ~ template ~ '.settings_sidebar' %}
{% endblock %}

{% block title %}
    {{ Lang.get('general.edit_item', {'item': Lang.choice('core.scheduled_task', 1)}) }}
{% endblock %}

{% block content %}

    {{ form_model(record, { 'route': [ 'core.operator.scheduledtask.update', record.id ], 'method': 'PUT', 'class': 'validate' }) }}

        <div class="sp-form-container">

            <div class="sp-form-row">
                {{ form_label('name', Lang.get('general.name')) }}
                <div class="sp-input-container">
                    {{ record.name }}
                </div>
            </div>

            <div class="sp-form-row">
                {{ form_label('description', Lang.get('general.description')) }}
                <div class="sp-input-container">
                    {{ record.description }}
                </div>
            </div>

            <div class="sp-form-row sp-form-full">
                {{ form_label('class', Lang.get('core.class_name')) }}
                <div class="sp-input-container">
                    {{ form_text('class', record.class, {'readonly': 'readonly'}) }}
                </div>
            </div>

            <div class="sp-form-row">
                {{ form_label('interval', Lang.get('general.interval')) }}
                <div class="sp-input-container">
                    <div class="sp-duration">
                        {{ form_number('interval_days', interval|default is not empty and interval['days'] != 0 ? interval['days'] : null, {'class': 'sp-w-20', 'min': 0}) }}
                        <div class="sp-description">{{ Lang.choice('general.day', 2) }}</div>
                    </div>
                    <div class="sp-duration">
                        {{ form_number('interval_hours', interval|default is not empty and interval['hours'] != 0 ? interval['hours'] : null, {'class': 'sp-w-20', 'min': 0}) }}
                        <div class="sp-description">{{ Lang.choice('general.hour', 2) }}</div>
                    </div>
                    <div class="sp-duration">
                        {{ form_number('interval_minutes', interval|default is not empty and interval['minutes'] != 0 ? interval['minutes'] : null, {'class': 'sp-w-20', 'min': 0}) }}
                        <div class="sp-description">{{ Lang.choice('general.minute', 2) }}</div>
                    </div>
                    <div class="sp-description">{{ Lang.get('core.interval_desc') }}</div>
                </div>
            </div>

        </div>

        <div class="sp-form-button">
            {{ form_submit(Lang.choice("general.submit", 1)) }}
        </div>

    {{ form_close() }}

{% endblock %}

{% block scripts_footer %}
    {% if jsValidator|default is not empty %}
        {{ jsValidator|raw }}
    {% endif %}
{% endblock %}