{% extends parent_template %}

{% block title %}
    {{ Lang.choice('selfservice.type', 2) }}
{% endblock %}

{% block breadcrumb %}
    {{ Lang.get('selfservice.selfservice') }}
    &nbsp;&nbsp;<i class="fas fa-chevron-right" aria-hidden="true"></i>&nbsp;&nbsp;
    {{ brand.name }}
    &nbsp;&nbsp;<i class="fas fa-chevron-right" aria-hidden="true"></i>&nbsp;&nbsp;
    <strong>{{ Lang.choice('selfservice.type', 2) }}</strong>
{% endblock %}

{% block precontent %}
    <div class="sp-quick-actions">
        <ul>
            <li class="sp-action-group sp-inline-block">
                <a href="{{ route('selfservice.operator.type.create', {'brand': brand.id, 'internal': grid is same as('internal') ? 1 : null}) }}"
                   class="sp-action sp-button">
                    <i class="fas fa-plus"></i>&nbsp; {{ Lang.get('general.add') }}
                </a><!--
                --><button class="sp-action sp-filter-grid">
                    <i class="fas fa-filter"></i>&nbsp; {{ Lang.get('general.filter') }}
                </button>
            </li>
        </ul>
    </div>

    <div class="sp-alert sp-alert-success sp-alert-sticky sp-hidden ordering">
        {{ Lang.get('messages.success_ordering') }}
    </div>
    <div class="sp-alert sp-alert-error sp-alert-sticky sp-hidden ordering">
        {{ Lang.get('messages.error_ordering') }}
    </div>
{% endblock %}

{% block content %}

    <ul class="sp-tabs">
        <li {% if grid is same as('public') %}class="sp-active"{% endif %}>
            <a href="{{ grid is same as('public') ? '#' : route('selfservice.operator.type.index', {'brand': brand.id}) }}">
                {{ Lang.get('general.public') }}
            </a>
        </li>
        <li {% if grid is same as('internal') %}class="sp-active"{% endif %}>
            <a href="{{ grid is same as('internal') ? '#' : route('selfservice.operator.type.index', {'brand': brand.id, 'grid': 'internal'}) }}">
                {{ Lang.get('selfservice.internal') }}
            </a>
        </li>
    </ul>

    <div class="sp-filter-results sp-hidden">
        <h3>{{ Lang.get('general.filter_results') }}</h3>

        <div class="sp-table">
            <div class="sp-table-row">
                <label>{{ Lang.get('general.name') }}:</label>
                <div id="filter_name"></div>
            </div>
            <div class="sp-table-row">
                <label>{{ Lang.get('general.enabled') }}:</label>
                <div id="filter_enabled"></div>
            </div>
            <div class="sp-table-row">
                <label>{{ Lang.get('general.content') }}:</label>
                <div id="filter_content"></div>
            </div>
            <div class="sp-table-row">
                <label>{{ Lang.choice('general.view', 1) }}:</label>
                <div id="filter_view"></div>
            </div>
        </div>
    </div>

    {{ table.render()|raw }}

    <div class="sp-alert sp-alert-info sp-alert-bottom" id="dndOrderNote">
        <strong>{{ Lang.choice('general.note', 1) }}:</strong> {{ Lang.get('selfservice.type_order') }}
    </div>

{% endblock %}

{% block scripts_footer %}
    <script src="{{ asset_rev('resources/assets/libs/datatables/js/jquery.dataTables.min.js') }}"></script>
    {{ table.script()|raw }}

    <script type="text/javascript">
        $(document).ready(function() {
            oTable.yadcf([
                {column_number : 0, column_data_type: "text", filter_container_id: "filter_name", filter_type: "text", filter_delay: 500, filter_reset_button_text: ''},
                {column_number : 1, filter_container_id: "filter_enabled", filter_reset_button_text: ''},
                {column_number : 2, filter_container_id: "filter_content", filter_reset_button_text: ''},
                {column_number : 3, filter_container_id: "filter_view", filter_reset_button_text: ''}
            ]);
        });
    </script>
{% endblock %}
