{% extends parent_template %}

{% block title %}
    {% if title|default is not empty %}
        {{ title }}
    {% else %}
        {{ Lang.choice("user.organisation", 2) }}
    {% endif %}
{% endblock %}

{% block precontent %}
    <div class="sp-quick-actions">
        <ul>
            <li class="sp-action-group sp-inline-block">
                <a href="{{ route('user.operator.organisation.create') }}" class="sp-action sp-button" id="createOrganisation">
                    <i class="fas fa-plus"></i>&nbsp; {{ Lang.get('general.add') }}
                </a><!--
                --><button class="sp-action sp-filter-grid">
                    <i class="fas fa-filter"></i>&nbsp; {{ Lang.get('general.filter') }}
                </button>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}

    {% if customSearch %}
        {% include 'operator.' ~ template ~ '.core.search_tabs' %}
    {% endif %}

    <div class="sp-my-6 sp-hidden">
        {% include 'operator.' ~ template ~ '.forms.grid_filtering' %}
    </div>

	{{ table.render()|raw }}

{% endblock %}

{% block scripts_footer %}
    <script src="{{ asset_rev('resources/assets/libs/datatables/js/jquery.dataTables.min.js') }}"></script>
    {{ table.script()|raw }}

    <!-- Filtering.js dependencies: Phone numbers -->
    <script type="text/javascript" src="{{ asset_rev('resources/assets/libs/intltelinput/js/intl-tel-input.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset_rev('resources/assets/operator/js/filtering.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            // Filtering
            $('.update-filtering').on('click', function() {
                $('.dataTable').on('preXhr.dt', function ( e, settings, data ) {
                    // Add conditions to parameters
                    var conditions = $(".sp-condition-group :input").serializeArray();
                    $.each(conditions, function(index, value) {
                        data[value.name] = value.value;
                    });
                }).dataTable().api().ajax.reload();
            });
        });
    </script>
{% endblock %}
