{% extends 'operator.' ~ template ~ '.user.login_master' %}

{% block content %}

    <div class="sp-alert sp-alert-success">{{ Lang.get('user.operator_set_password_desc') }}</div>

    {{ form_open({'route': 'operator.setpassword', 'method': 'post', 'class': 'validate'}) }}

        {{ form_hidden('email', Request.input('email')) }}
        {{ form_hidden('token', Request.input('token')) }}

        <div class="sp-form-row sp-form-full sp-mb-4">
            <div class="sp-input-container">
                {{ form_password('password', {'placeholder': Lang.get('general.password'), 'autocomplete': 'new-password'}) }}
            </div>
        </div>

        <div class="sp-form-row sp-form-full sp-mb-6">
            <div class="sp-input-container">
                {{ form_password('password_confirmation', {'placeholder': Lang.get('user.confirm_password'), 'autocomplete': 'new-password'}) }}
            </div>
        </div>

        <div class="sp-form-row sp-form-full sp-m-0">
            {{ form_submit(Lang.get('general.save'), {'class': 'sp-w-full'}) }}
        </div>

    {{ form_close() }}

{% endblock %}

{% block scripts_footer %}
    {% if jsValidator|default is not empty %}
        {{ jsValidator|raw }}
    {% endif %}
{% endblock %}
