{% extends parent_template %}

{% block title %}
	{% if record|default is not empty %}
    	{{ record.formatted_name }} - {{ Lang.get('user.activity_log') }}
    {% else %}
    	{{ Lang.get('user.system_activity_log') }}
    {% endif %}
{% endblock %}

{% block precontent %}
    <div class="sp-quick-actions">
        <ul>
            <li class="sp-action-group sp-inline-block">
                <button class="sp-action sp-filter-results">
                    <i class="fas fa-filter"></i>
                    <span class="sp-hidden sm:sp-inline">&nbsp;{{ Lang.get('general.filter') }}</span>
                </button>
                <button class="sp-action sp-filter-datepicker">
                    <i class="fas fa-calendar"></i>
                    <span class="sp-hidden xs:sp-inline">
                        &nbsp;<span class="sp-filter-datepicker-text">{{ Lang.get('general.date') }}</span>
                    </span>
                </button>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}

	{% if record|default is not empty %}
        {% include 'operator.' ~ template ~ '.user.forms.user_tabs' %}

        <div id="tabActivityLog" class="sp-tab-content">
    {% endif %}

    <div class="sp-filter-results sp-hidden">
        <h3>{{ Lang.get('general.filter_results') }}</h3>

        <div class="sp-table">
            {% if record is not defined %}
                <div class="sp-table-row">
                    <label>{{ Lang.choice('user.role', 1) }}:</label>
                    <div id="filter_role"></div>
                </div>
                <div class="sp-table-row">
                    <label>{{ Lang.get('general.name') }}:</label>
                    <div id="filter_name"></div>
                </div>
            {% endif %}
            <div class="sp-table-row">
                <label>{{ Lang.get('general.ip_address') }}:</label>
                <div id="filter_ip"></div>
            </div>
        </div>
    </div>

	{{ table.render()|raw }}

    {% if record|default is not empty %}
        </div>
    {% endif %}

{% endblock %}

{% block scripts_footer %}
    <script src="{{ asset_rev('resources/assets/libs/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset_rev('resources/assets/libs/daterangepicker/js/daterangepicker.min.js') }}"></script>
    <script src="{{ asset_rev('resources/assets/operator/js/datefiltering.js') }}"></script>
    {{ table.script()|raw }}

    <script>
        $(function() {
            oTable.yadcf([
                {column_number: 1, filter_container_id: "filter_role"},
                {column_number: 2, column_data_type: "text", filter_container_id: "filter_name", filter_type: "text", filter_delay: 500},
                {column_number: 3, column_data_type: "text", filter_container_id: "filter_ip", filter_type: "text", filter_delay: 500, filter_default_label: '{{ Lang.get('general.enter_exact_ip') }}'},
            ]);
        });
    </script>
{% endblock %}
